@model IQueryable<Book>

@{
    ViewData["Title"] = "authorInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>authorInformation</h6>

<div class="container">
    <table>




    </table>

</div>