@{
    ViewData["Title"] = "BookInformation";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <style>
        .el-aside {
            background-color: #FFFFFF;
            color: #333;
            text-align: left;
            /* line-height: 200px; */
        }

        div {
            border: none;
        }

        .el-main {
            padding: 0px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .aside-wrapper {
            display: flex;
            flex-direction: column;
        }

        .downCover-wrapper {
            display: flex;
            padding: 15px;
        }

        .downCover-slot {
            margin: 5px;
        }

        .profile-slot {
            width: 50px;
            height: 50px;
            border-radius: 30px;
        }

        .rightButton {
            width: 215px;
            height: 50px;
            background: linear-gradient(to right,#E3007F,#eb858c);
            color: #FFFFFF;
            font-size: 18px;
        }

            .rightButton:hover {
                background: linear-gradient(to right,#bd2275,#c27079);
                color: #ccadba;
            }

        .buttonRight {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 5px;
        }

        .share {
            padding: 5px;
            background: none;
        }

            .share:hover {
                filter: hue-rotate(30deg);
            }

        .icon_wrapper {
            display: flex;
            flex-direction: row;
            margin: 20px;
        }

        .ad1 {
            width: 215px;
            height: 35px;
            background-color: #FFF0F5;
            font-weight: bold;
            justify-content: center;
            margin-right: 10px;
            margin-left: 10px;
            color: #E3007F;
            text-decoration: none;
            font-size: 14px;
        }

        .el-button--comment {
            color: #E3007F;
            border-color: #E3007F;
            text-align: center;
        }

            .el-button--comment:hover {
                /* background: #2D6EFB;
                                                        border-color: #2D6EFB; */
                /* color: #fff; */
                color: #E3007F;
                border-color: #E3007F;
            }

        .el-button--pinkBorder {
            /* // background-color: #2D6EFB; */
            /* border-color: #2D6EFB; */
            text-align: center;
        }
            /* .el-button--pinkBorderRadius:focus, */
            .el-button--pinkBorder:hover {
                /* background: #2D6EFB;
                                                    border-color: #2D6EFB; */
                /* color: #fff; */
                color: #E3007F;
                border-color: #E3007F;
            }

        .el-breadcrumb-item--pinkColor:hover {
            color: #E3007F;
            text-decoration: underline;
        }
        /* .el-button--whiteBackground.is-active,
                                                    .el-button--whiteBackground:active {
                                                        background: #FFFFFF;
                                                        border-color: #2D6EFB;
                                                        color: #2D6EFB;
                                                    } */
        .price {
            background-color: rgba(227,0,127,0.11);
            height: 85px;
            line-height: 10px;
            margin: 5px 0;
            padding: 10px;
            font-size: 14px;
        }

        .commentItem {
            margin-bottom: 20px;
        }

        .commentImage {
            margin-right: 20px;
        }

        .commentRate {
            margin-left: 100px;
        }

        .commentRate,
        .commentAuthor {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .deliver {
            margin: 5px 0px;
            line-height: 10px;
            padding-left: 10px;
            font-size: 14px
        }

        .information p {
            margin: 2px 0;
        }

        .font-control {
            text-align: right;
        }

        .container.small {
            font-size: 14px;
        }

        .container.medium {
            font-size: 18px;
        }

        .container.large {
            font-size: 24px;
        }

        .recommendTable {
            display: flex;
            flex-direction: row;
        }

        .recommendContent p {
            font-size: 14px;
            width: 180px;
            margin: 2px 0;
        }

        /* 应用到 Carousel 的箭头元素 */
        .el-carousel__arrow {
            top: 130px;
            border: 1px solid rgba(255,255,255,0.2);
            ;
            border-radius: 15%;
            height: 100px;
            width: 50px;
        }

        .recommendBookTitle {
            font-weight: bold;
        }

            .recommendBookTitle p {
                font-size: 14px;
                line-height: 1.5em; /* 設置行高為字體大小的1.5倍 */
                height: 3em; /* 設置高度為字體大小的3倍 */
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* 設置行數為2行 */
            }
    </style>
</head>
<body>
    <div id="app">
        <div>
            <el-container>
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item><a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">首頁</a></el-breadcrumb-item>
                    <el-breadcrumb-item><a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">中文書</a></el-breadcrumb-item>
                    <el-breadcrumb-item><a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">商業</a></el-breadcrumb-item>
                    <el-breadcrumb-item><a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">投資理財</a></el-breadcrumb-item>
                    <el-breadcrumb-item><div style="color: #E3007F;">塔木德：猶太人的致富聖經［修訂版］：1000多年來帶領猶太人快速累積財富的神祕經典</div></el-breadcrumb-item>
                </el-breadcrumb>
            </el-container>
            <el-container>
                <div class="aside-wrapper">
                    <el-aside width="310px" height="400px">
                        <div class="demo-image__placeholder">
                            <div class="block">
                                <el-image :src="bookCover">
                                    <div slot="placeholder" class="image-slot">
                                        加載中<span class="dot">...</span>
                                    </div>
                                </el-image>
                            </div>
                        </div>
                    </el-aside>
                    <el-aside>
                        <div class="demo-image__placeholder">
                            <div class="block">
                                <div class="downCover-wrapper">
                                    <div class="downCover-slot">
                                        <el-image :src="video" style="width: 140px;">
                                            <div slot="placeholder" class="image-slot">
                                                加載中<span class="dot">...</span>
                                            </div>
                                        </el-image>
                                    </div>
                                    <div class="downCover-slot">
                                        <el-image :src="bookCover" style="width: 70px;">
                                            <div slot="placeholder" class="image-slot">
                                                加載中<span class="dot">...</span>
                                            </div>
                                        </el-image>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-aside>
                </div>
                <el-main>
                    <div style="padding-left: 5px;">
                        <h1 style="line-height: normal;letter-spacing: 0.5px;font-size:20px;font-weight:bold;">塔木德：猶太人的致富聖經［修訂版］：1000多年來帶領猶太人快速累積財富的神祕經典</h1>
                        <div class="authorBoard">
                            <p style="text-align: left;"><span>作者：<a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">佛蘭克．赫爾</a></span></p>
                        </div>
                        <el-row>
                            <el-button round size="small" type="pinkBorder" style="margin-left: 0px; padding: 9px;"><i class="el-icon-edit"></i></i><span style="color:#E3007F;">11</span>評價</el-button>
                            <el-button round size="small" type="pinkBorder" style="margin-left: 0px; padding: 9px;"><i class="el-icon-star-off"></i></i><span style="color:#E3007F;">285</span>收藏</el-button>
                            <el-button round size="small" type="pinkBorder" style="margin-left: 0px; padding: 9px;"><i class="el-icon-reading"></i></i><span style="color:#E3007F;">568</span>人次試讀</el-button>
                        </el-row>
                        <div class="icon_wrapper">
                            <div id="fb_shared" class="share" v-on:click="windowOpen('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.taaze.tw%2Fproducts%2F11100697818.html')">
                                <a href=""><img src="../image/Book/bookIcon/fb.png" alt="" width="30px" height="26px"></a>
                            </div>
                            <div id="gmail_shared" class="share" v-on:click="windowOpen('https://mail.google.com/mail/?ui=1&amp;view=cm&amp;fs=1&amp;tf=1&amp;su=%E3%80%90TAAZE%20%7C%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%E7%B6%B2%E8%B7%AF%E6%9B%B8%E5%BA%97%E3%80%91%E5%A1%94%E6%9C%A8%E5%BE%B7%EF%BC%9A%E7%8C%B6%E5%A4%AA%E4%BA%BA%E7%9A%84%E8%87%B4%E5%AF%8C%E8%81%96%E7%B6%93%EF%BC%BB%E4%BF%AE%E8%A8%82%E7%89%88%EF%BC%BD%EF%BC%9A1000%E5%A4%9A%E5%B9%B4%E4%BE%86%E5%B8%B6%E9%A0%98%E7%8C%B6%E5%A4%AA%E4%BA%BA%E5%BF%AB%E9%80%9F%E7%B4%AF%E7%A9%8D%E8%B2%A1%E5%AF%8C%E7%9A%84%E7%A5%9E%E7%A5%95%E7%B6%93%E5%85%B8-%20TAAZE%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB&amp;body=%E3%80%90TAAZE%20%7C%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%E7%B6%B2%E8%B7%AF%E6%9B%B8%E5%BA%97%E3%80%91%E5%A1%94%E6%9C%A8%E5%BE%B7%EF%BC%9A%E7%8C%B6%E5%A4%AA%E4%BA%BA%E7%9A%84%E8%87%B4%E5%AF%8C%E8%81%96%E7%B6%93%EF%BC%BB%E4%BF%AE%E8%A8%82%E7%89%88%EF%BC%BD%EF%BC%9A1000%E5%A4%9A%E5%B9%B4%E4%BE%86%E5%B8%B6%E9%A0%98%E7%8C%B6%E5%A4%AA%E4%BA%BA%E5%BF%AB%E9%80%9F%E7%B4%AF%E7%A9%8D%E8%B2%A1%E5%AF%8C%E7%9A%84%E7%A5%9E%E7%A5%95%E7%B6%93%E5%85%B8-%20TAAZE%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%2F%E5%A1%94%E6%9C%A8%E5%BE%B7%EF%BC%9A%E7%8C%B6%E5%A4%AA%E4%BA%BA%E7%9A%84%E8%87%B4%E5%AF%8C%E8%81%96%E7%B6%93%EF%BC%BB%E4%BF%AE%E8%A8%82%E7%89%88%EF%BC%BD%EF%BC%9A1000%E5%A4%9A%E5%B9%B4%E4%BE%86%E5%B8%B6%E9%A0%98%E7%8C%B6%E5%A4%AA%E4%BA%BA%E5%BF%AB%E9%80%9F%E7%B4%AF%E7%A9%8D%E8%B2%A1%E5%AF%8C%E7%9A%84%E7%A5%9E%E7%A5%95%E7%B6%93%E5%85%B8.%20%E4%BD%9B%E8%98%AD%E5%85%8B%EF%BC%8E%E8%B5%AB%E7%88%BE.%20%E5%BE%90%E4%B8%96%E6%98%8E.%20%E6%99%BA%E8%A8%80%E9%A4%A8.%209789865899332.%20%E3%80%8A%E8%81%96%E7%B6%93%E3%80%8B%E8%AE%93%E6%AF%8F%E4%B8%80%E5%80%8B%E4%BA%BA%E6%9C%8D%E5%BE%9E%E4%B8%8A%E5%B8%9D%E7%9A%84%E5%AE%89%E6%8E%92%EF%BC%8C%E4%BD%86%E3%80%8A%E5%A1%94%E6%9C%A8%E5%BE%B7%E3%80%8B%E8%AE%93%E3%80%8C%E8%B2%A1%E5%AF%8C%E3%80%8D%E6%9C%8D%E5%BE%9E%E4%BA%86%E6%88%91%E5%80%91%E7%9A%84%E9%81%B8%E6%93%87%E3%80%82%E2%94%80%E2%94%80%E5%93%88%E9%BB%98%E4%B8%96%E7%95%8C%E5%AF%8C%E7%BF%81%E6%91%A9....%20https%3A%2F%2Fwww.taaze.tw%2Fproducts%2F11100697818.html&amp;shva=1&amp;ov=0')">
                                <a href=""><img src="../image/Book/bookIcon/gmail.png" alt="" width="30px" height="26px"></a>
                            </div>
                            <div id="plurk_shared" class="share" v-on:click="windowOpen('http://www.plurk.com/?qualifier=shares&amp;status=%E5%A1%94%E6%9C%A8%E5%BE%B7%EF%BC%9A%E7%8C%B6%E5%A4%AA%E4%BA%BA%E7%9A%84%E8%87%B4%E5%AF%8C%E8%81%96%E7%B6%93%EF%BC%BB%E4%BF%AE%E8%A8%82%E7%89%88%EF%BC%BD%EF%BC%9A1000%E5%A4%9A%E5%B9%B4%E4%BE%86%E5%B8%B6%E9%A0%98%E7%8C%B6%E5%A4%AA%E4%BA%BA%E5%BF%AB%E9%80%9F%E7%B4%AF%E7%A9%8D%E8%B2%A1%E5%AF%8C%E7%9A%84%E7%A5%9E%E7%A5%95%E7%B6%93%E5%85%B8-%20TAAZE%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%20https%3A%2F%2Fwww.taaze.tw%2Fproducts%2F11100697818.html%20TAAZE%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%E7%B6%B2%E8%B7%AF%E6%9B%B8%E5%BA%97')">
                                <a href=""><img src="../image/Book/bookIcon/plurk.png" alt="" width="30px" height="26px"></a>
                            </div>
                            <div id="twitter_shared" class="share" v-on:click="windowOpen('https://twitter.com/home?status=%E5%A1%94%E6%9C%A8%E5%BE%B7%EF%BC%9A%E7%8C%B6%E5%A4%AA%E4%BA%BA%E7%9A%84%E8%87%B4%E5%AF%8C%E8%81%96%E7%B6%93%EF%BC%BB%E4%BF%AE%E8%A8%82%E7%89%88%EF%BC%BD%EF%BC%9A1000%E5%A4%9A%E5%B9%B4%E4%BE%86%E5%B8%B6%E9%A0%98%E7%8C%B6%E5%A4%AA%E4%BA%BA%E5%BF%AB%E9%80%9F%E7%B4%AF%E7%A9%8D%E8%B2%A1%E5%AF%8C%E7%9A%84%E7%A5%9E%E7%A5%95%E7%B6%93%E5%85%B8-%20TAAZE%20%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%20https%3A%2F%2Fwww.taaze.tw%2Fproducts%2F11100697818.html%20TAAZE%E8%AE%80%E5%86%8A%E7%94%9F%E6%B4%BB%E7%B6%B2%E8%B7%AF%E6%9B%B8%E5%BA%97')">
                                <a href=""><img src="../image/Book/bookIcon/twitter.png" alt="" width="30px" height="26px"></a>
                            </div>
                            <!--<div class='gplus_frame'></div>-->
                            <div class="share"><iframe frameborder="0" border="0" cellspacing="0" width="70" height="25" id="fb_like" style="border: none;overflow:hidden;" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.taaze.tw%2Fproducts%2F11100697818.html&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=70&amp;width=100&amp;size=small&amp;appId=626893700667334"></iframe></div>
                        </div>
                    </div>
                    <div class="price">
                        <p>定價：NT$ <span style="text-decoration:line-through;">250</span></p>
                        <p>優惠價：<span style="color:#e2007e;"><strong> 75 </strong></span>折， NT$ <span style="color:#e2007e;"><strong>188</strong></span></p>
                        <p style="color:#e2007e;">優惠截止日：至<span>2023年04月30日</span></p>
                    </div>
                    <div class="deliver">
                        <p>運送方式：超商取貨、宅配取貨</p>
                        <p>銷售地區：全球</p>
                        <p>限量商品，即時庫存>5</p>
                    </div>
                    <p class="DeliverAndKpst">
                        <a class="18h" href="#" target="_blank">
                            <img style="width: 50px;height: 50px;" src="../image/Book/bookIcon/shipIcon.png" alt="">
                        </a>
                        <a class="cartreserved" href="#" target="_blank">
                            <img style="width: 50px;height: 50px;" src="../image/Book/bookIcon/reserveIcon.png" alt="">
                        </a>
                    </p>
                </el-main>
                <el-aside width="250px">
                    <el-row>
                        <div>
                            <p class="ad1">
                                <a href="#" class="ad1" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">【哲學宗教】參展書籍5折起</a>
                            </p>
                        </div>
                        <div class="buttonRight">
                            <el-button round class="rightButton">放入購物車</el-button>
                        </div>
                        <div class="buttonRight">
                            <el-button round class="rightButton" v-on:click="redirectToCart">直接購買</el-button>
                        </div>
                        <div class="buttonRight">
                            <el-button round class="rightButton" v-on:click="storeTempList">放入暫存清單</el-button>
                        </div>
                        <br>
                        <el-button v-on:click="loginTest" :plain="true" style="width: 200px; color: blueviolet; border-color: blueviolet;">一鍵登入/登出</el-button>
                    </el-row>
                </el-aside>
            </el-container>
            <el-divider></el-divider>
            <el-container>
                <el-main>
                    <el-carousel arrow="always" :interval="0" height="350px" indicator-style="{ transform: 'translateY(80%)' }">
                        <div v-for="(group, index) in Math.ceil(recommend.length / 5)">
                            <el-carousel-item :key="index">
                                <div class="recommendTable">
                                    <div v-for="(item, i) in recommend.slice(index * 5, (index + 1) * 5)" style="margin-right: 50px;">
                                        <a href="#">
                                            <el-image :src="item.coverPath" style="width: 180px;">
                                                <div slot="placeholder" class="image-slot">
                                                    加載中<span class="dot">...</span>
                                                </div>
                                            </el-image>
                                        </a>
                                        <div class="recommendContent">
                                            <div class="recommendBookTitle">
                                                <p class="ellipsis">{{item.bookTitle}}</p>
                                            </div>
                                            <p>定價：{{item.unitPrice}} 元</p>
                                            <p>優惠價： <span style="color: #E3007F;">{{item.discount}}</span> 折 <span style="color: #E3007F;">{{getDiscountPrice(item)}}</span> 元</p>
                                        </div>
                                    </div>
                                </div>
                            </el-carousel-item>
                        </div>
                    </el-carousel>
                </el-main>
            </el-container>
            <el-divider></el-divider>
            <el-container>
                <el-main>
                    <div class="information">
                        <span style="font-size: 20px; font-weight: bold;">商品資料</span>
                        <p>作者：<span><a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">佛蘭克．赫爾</a></span></p>
                        <p>譯者：<span><a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">徐世明</a></span></p>
                        <p>出版社：<span><a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">智言館</a></span></p>
                        <p>出版日期：<span>2014-04-01</span></p>
                        <p>ISBN/ISSN：<span>9789865899332</span></p>
                        <p>語言：<span>繁體中文</span></p>
                        <p>裝訂方式：<span>平裝</span></p>
                        <p>頁數：<span>288頁</span></p>
                        <p>商品尺寸：<span>長：210mm \ 寬：148mm</span></p>
                        <p>
                            類別：
                            <span>
                                <a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">中文書</a>>
                                <a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">商業</a>>
                                <a href="#" v-on:mouseover="hoverStyle($event)" v-on:mouseout="restoreStyle($event)">投資理財</a>
                            </span>
                        </p>
                    </div>
                </el-main>
            </el-container>
            <el-container>
                <el-header></el-header>
                <el-tabs v-model="activeName" type="card" v-on:tab-click="handleClick">
                    <el-tab-pane label="內容簡介" name="contentIntro"></el-tab-pane>
                    <el-tab-pane label="章節試閱" name="tryContent"></el-tab-pane>
                    <el-tab-pane label="目錄" name="tableContainer"></el-tab-pane>
                    <el-tab-pane label="購物須知" name="beforeBuy"></el-tab-pane>
                </el-tabs>
                <div>
                    <div class="font-control">
                        <span>文字字級</span>
                        <el-button v-on:click="fontSize = 'small'" size="mini">小</el-button>
                        <el-button v-on:click="fontSize = 'medium'" size="mini">中</el-button>
                        <el-button v-on:click="fontSize = 'large'" size="mini">大</el-button>
                    </div>
                    <el-container class="container" :class="fontSize">
                        <el-main>
                            <div id="content">
                                <div id="contentIntro">
                                    <p></p>
                                    <center>
                                        <font color="#FF0000">
                                            聖經》讓每一個人服從上帝的安排，
                                            <br>
                                            但《塔木德》讓「財富」服從了我們的選擇。
                                            <br>
                                            ──哈默
                                        </font>
                                    </center>
                                    <br>
                                    <br>
                                    世界富翁摩根、羅斯柴爾德、哈默、索羅斯等
                                    <br>
                                    猶太裔商業巨擘每日必讀的致富經典
                                    <br>
                                    <br>
                                    <font color="#0040FF">
                                        本書特色
                                        <br>
                                        世界富翁摩根、羅斯柴爾德、哈默、索羅斯等
                                        <br>
                                        猶太裔商業巨擘，每日必讀的致富經典──《塔木德》
                                        <br>
                                        本書將為你打開快速致富的神祕大門！
                                    </font>
                                    <br>
                                    <br>
                                    【特色一】
                                    <br>
                                    本書於2005年發行，直到2013年（最新年度）博客來網路書店結算年度百大暢銷書，本書仍為「商業理財類」前50大之暢銷書。暢銷熱賣的程度，歷經8年，不曾減退！
                                    <br>
                                    <br>
                                    【特色二】
                                    <br>
                                    全書貫徹「我們需要什麼樣的觀念和態度，才能讓自己長久致富？」的中心思想，不僅告訴讀者，如何擁有財富，更重要的是，它告訴我們，如何才能讓財富緊緊相隨，不分離！
                                    <br>
                                    <br>
                                    內容簡介
                                    <br>
                                    <br>
                                    對於猶太人的財富，有一個非常經典的說法：「全世界的錢都在美國人的口袋裡，而美國人的錢卻在猶太人的口袋裡。」猶太人如此的優秀，讓世界為之震驚，尤其最讓世人折服的，是他們驚人的財富和超凡的賺錢能力。
                                    <br>
                                    <br>
                                    1000多年以來，這個謎一般的民族，是世界上的「少數人」，但是卻掌握了世界上龐大的資產。他們如何擁有巨大的財富，始終是眾人非常關注的話題，相信，只要是想成為富人的人，任誰都會為此產生濃厚的興趣！
                                    <br>
                                    <br>
                                    到底他們是如何致富的？而且是整個民族歷久不衰的富有，到底他們是怎麼辦到的？
                                    <br>
                                    <br>
                                    《塔木德》提供了最好的答案！
                                    <br>
                                    <br>
                                    《塔木德》是猶太人的致富聖經寶典，就是它，讓猶太人成為世界上最富有的民族，沒有它，猶太人在歷經了數千年的流亡迫害之下，一定早就被滅種或被其他民族同化了。
                                    <br>
                                    <br>
                                    然而，到底《塔木德》中記載了什麼樣的大智慧，能讓這個經過數度迫害屠殺，又流離四散的民族，不但擁有了頑強的生存意志，更擁有了其他民族所沒有的賺錢和處世智慧？
                                    <br>
                                    <br>
                                    千百年來，猶太人的致富祕笈一直無法被外人所破解，如今《塔木德》被世人發現，等於猶太人經商致富的神祕方程式和祕笈，終於公諸於世。
                                    <br>
                                    <br>
                                    猶太人也是人，既然他們能因為這些祕笈而致富，相信只要你有心成為億萬富翁，這本《塔木德》也將是開啟你經商任督二脈的絕世祕笈。
                                    <br>
                                    <p></p>
                                </div>
                                <el-divider></el-divider>
                                <div id="tryContent">
                                    <span style="font-size: 20px; font-weight: bold;">章節試閱</span>
                                    <br>
                                    <br>
                                    【緒論】天生會賺錢的民族
                                    <br>
                                    有一天，猶太教士胡里奧在河邊遇見了憂鬱的年輕人費列姆。費列姆唉聲嘆氣，愁眉苦臉。
                                    <br>
                                    「孩子你為何如此鬱鬱不樂呢？」胡里奧關心地問。
                                    <br>
                                    費列姆看了一眼胡里奧，嘆了口氣：「我是一個名副其實的窮光蛋。我沒有房子，沒有工作，沒有收入，整天饑一頓飽一頓度日。像我這樣一無所有的人，怎麼能高興得起來呢？」
                                    <br>
                                    「傻孩子！」胡里奧笑道：其實，你應該開懷大笑才對！」
                                    <br>
                                    「開懷大笑？為什麼？」費列姆不解地問。
                                    <br>
                                    「因為，你其實是一個百萬富翁呢！」胡里奧詭異地說。
                                    <br>
                                    「百萬富翁？您別拿我這窮光蛋尋開心了。...
                                    <div class="moreButton" style="margin-top: 10px;">
                                        <div viewall="0" style="width: 88px; padding: 2px 0;font-weight:bold; font-size: 10pt; text-align: center; cursor: pointer;">顯示全部內容</div>
                                    </div>
                                </div>
                                <el-divider></el-divider>
                                <div id="tableContainer">
                                    <span style="font-size: 20px; font-weight: bold;">目錄</span>
                                    <br>
                                    【緒論】天生會賺錢的民族
                                    <br>
                                    世界上最偉大的商人
                                    <br>
                                    賺錢，是一種高貴的美德
                                    <br>
                                    可以傳授的致富祕訣
                                    <br>
                                    最會賺錢的民族
                                    <br>
                                    <br>
                                    【第一章】錢是給上帝的禮物
                                    <br>
                                    沒有錢，就沒有上帝
                                    <br>
                                    錢是回饋神的禮物
                                    <br>
                                    貧窮，比任何苦難還恐怖
                                    <br>
                                    錢的「準神聖性」
                                    <br>
                                    錢，絕不分高低貴賤
                                    <br>
                                    賺錢是一種遊戲
                                    <br>
                                    吝嗇的有錢人
                                    <br>
                                    摳錢一生窮，花錢發大財
                                    <br>
                                    借別人的錢來賺大錢
                                    <br>
                                    借錢給別人，等於是花錢買敵人
                                    <br>
                                    <br>
                                    【第二章】用創意和思考致富
                                    <br>
                                    逆向思考：厚利才能賺大錢
                                    <br>
                                    用利益讓對方為自己著想
                                    <br>
                                    女人和嘴巴
                                    <br>
                                    善用人者為之下
                                    <br>
                                    做生意不能用感情
                                    <br>
                                    活用數字替你賺錢
                                    <br>
                                    幽默是人生的良藥...
                                    <div class="moreButton" style="margin-top: 10px;">
                                        <div viewall="0" style="width: 88px; padding: 2px 0;font-weight:bold; font-size: 10pt; text-align: center; cursor: pointer;">顯示全部內容</div>
                                    </div>
                                </div>
                                <el-divider></el-divider>
                                <div id="beforeBuy">
                                    <span style="font-size: 20px; font-weight: bold;">購物須知</span>
                                    <p style="font-weight: bold;">退換貨說明：</p>
                                    <p>會員均享有10天的商品猶豫期（含例假日）。若您欲辦理退換貨，請於取得該商品10日內寄回。</p>
                                    <p>
                                        辦理退換貨時，請保持商品全新狀態與完整包裝（商品本身、贈品、贈票、附件、內外包裝、保證書、隨貨文件等）一併寄回。若退回商品無法回復原狀者，可能影響退換貨權利之行使或須負擔部分費用。
                                    </p>
                                    <strong>訂購本商品前請務必詳閱</strong>
                                    <a class="linkStyleTextArea" href="https://www.taaze.tw/member_serviceCenter.html?qa_type=g#a1" target="_blank">退換貨原則</a>。
                                </div>
                            </div>
                        </el-main>
                    </el-container>
                </div>
                <el-divider></el-divider>
                <div id="comment">
                    <span style="font-size: 20px; font-weight: bold;">發表評論</span>
                    <p></p>
                    <div>
                        <strong>歡迎您給予星評與評論</strong>
                        <br>
                        <div style="margin-top: 20px; margin-bottom: 20px;">
                            <span class="demonstration"></span>
                            <el-rate v-model="commentValueMyself"></el-rate>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <el-avatar :size="50" :src="circleUrl" style="margin-right: 20px;"></el-avatar>
                            <el-input type="textarea"
                                      placeholder="請輸入評論"
                                      v-model="commentArea"
                                      maxlength="30"
                                      show-word-limit style="width: 400px;"
                                      show-word-limit></el-input>
                            <el-button type="primary" icon="el-icon-edit" style="margin-left: 20px;" v-on:click="loginCheck" v-loading.fullscreen.lock="fullscreenLoading">確定</el-button>
                        </div>
                    </div>
                </div>
                <el-divider></el-divider>
                <el-container>
                    <div class="commentContent">
                        <div v-for="(item, index) in comment" :key="index" class="commentItem">
                            <el-aside width="100px">
                                <div class="commentImage">
                                    <el-image :src="item.profile" class="profile-slot">
                                        <div slot="placeholder">
                                            加載中<span class="dot">...</span>
                                        </div>
                                    </el-image>
                                </div>
                            </el-aside>
                            <el-main>
                                <el-rate v-model="item.value"
                                         disabled
                                         text-color="#ff9900"
                                         score-template="{value}"></el-rate>
                                <p><strong>{{item.author}}</strong><span style="margin-left: 10px;">{{item.date}}</span></p>
                                <p>{{item.content}}</p>
                            </el-main>
                        </div>
                        <div class="buttonRight">
                            <el-button round class="rightButton">看更多評論</el-button>
                        </div>
                    </div>
                </el-container>
            </el-container>
            <!-- <el-divider></el-divider> -->
            <!-- <el-container>
                <el-aside width="200px">Aside</el-aside>
                <el-container>
                    <el-header>Header</el-header>
                    <el-main>Main</el-main>
                </el-container>
            </el-container>

            <el-container>
                <el-aside width="200px">Aside</el-aside>
                <el-container>
                    <el-header>Header</el-header>
                    <el-main>Main</el-main>
                    <el-footer>Footer</el-footer>
                </el-container>
            </el-container> -->
        </div>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import Vue router -->
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            bookCover: '../image/Book/bookIcon/bookCover.jpg',
            video: '../image/Book/bookIcon/video1.jpg',
            originalColor: '',
            activeName: 'first',
            fontSize: 'medium',
            isLogin: false,
            fullscreenLoading: false,
            commentValueMyself: null,
            commentArea: '',
            circleUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png",
            recommend: [
                {
                    bookTitle: '投資最重要的事：一本股神巴菲特讀了兩遍的書',
                    coverPath: '../Image/Book/bookCover/1.jpg',
                    unitPrice: 380,
                    // 79折
                    discount: 79,
                },
                {
                    bookTitle: '有錢人想的和你不一樣',
                    coverPath: '../Image/Book/bookCover/2.jpg',
                    unitPrice: 250,
                    discount: 79,
                },
                {
                    bookTitle: '窮查理的普通常識（增修版）：巴菲特50年智慧合夥人查理．蒙格的人生哲學',
                    coverPath: '../Image/Book/bookCover/3.jpg',
                    unitPrice: 450,
                    discount: 79,
                },
                {
                    bookTitle: '灰階思考',
                    coverPath: '../Image/Book/bookCover/4.jpg',
                    unitPrice: 400,
                    discount: 79,
                },
                {
                    bookTitle: '股息Cover我每一天：600張存股達人絕活全公開',
                    coverPath: '../Image/Book/bookCover/5.jpg',
                    unitPrice: 320,
                    discount: 79,
                },
                {
                    bookTitle: '我畢業五年，用ETF賺到400萬：每月1,000元就能開始！不用兼差斜槓，兩檔ETF投資組合，年賺20％以上',
                    coverPath: '../Image/Book/bookCover/6.jpg',
                    unitPrice: 380,
                    discount: 79,
                },
                {
                    bookTitle: '投資金律：建立獲利投資組合的四大關鍵和十四個關卡（全新增訂版）',
                    coverPath: '../Image/Book/bookCover/7.jpg',
                    unitPrice: 460,
                    discount: 79,
                },
                {
                    bookTitle: '下班後賺更多：記帳、存錢、再投資，富朋友的「破窮理財法」提早20年退休不是夢！',
                    coverPath: '../Image/Book/bookCover/8.jpg',
                    unitPrice: 300,
                    discount: 79,
                },
                {
                    bookTitle: '你也可以成為股市天才',
                    coverPath: '../Image/Book/bookCover/9.jpg',
                    unitPrice: 350,
                    discount: 79,
                },
                {
                    bookTitle: '巴菲特寫給股東的信（全新增修版） The Essays of Warren Buffett: Lessons for Corporate America, Fourth Edition',
                    coverPath: '../Image/Book/bookCover/10.jpg',
                    unitPrice: 420,
                    discount: 79,
                },

            ],
            comment: [
                {
                    value: 4.0,
                    author: 'Arthur Huang',
                    date: '2022-07-15',
                    content:
                        '原子習慣：細微改變帶來巨大成就的實證法則\r\n不錯好看的一本書',
                    profile: '../Image/Book/bookComment/anonymous.jpg'
                },
                {
                    value: 5.0,
                    author: '俐君',
                    date: '2021-10-08',
                    content:
                        '很實用的一本書，有明確且直白的舉例，完全能理解且能夠拿來應用在生活之中！',
                    profile: '../Image/Book/bookComment/p2.jpg'
                },
                {
                    value: 5.0,
                    author: 'Gary Kang',
                    date: '2021-06-09',
                    content: '大推！一本看完會令你想動起來做些改變的書！',
                    profile: '../Image/Book/bookComment/p3.jpg'
                }
            ],
        },
        methods: {
            hoverStyle: function (event) {
                this.originalColor = event.target.style.color;
                event.target.style.color = "#E3007F";
                event.target.style.textDecoration = 'underline';
            },
            restoreStyle: function (event) {
                event.target.style.color = this.originalColor;
                event.target.style.textDecoration = 'none';
            },
            windowOpen: function (url) {
                window.open(url)
            },
            handleClick(tab, event) {
                const element = document.querySelector("#" + this.activeName)
                if (element != null) {
                    element.scrollIntoView({ behavior: 'smooth' });
                }
            },
            getDiscountPrice(item) {
                return Math.floor(item.unitPrice * item.discount / 100);
            },
            storeTempList() {
                this.$notify({
                    title: '放入暫存清單成功',
                    message: '本書已加入暫存清單',
                    type: 'success'
                });
            },
            redirectToCart() {
                window.location.href = "../Order/ShoppingCart";
            },
            loginCheck() {
                if (!this.isLogin) {
                    this.$alert('尚未登入', '', {
                        confirmButtonText: '前往登入',
                        callback: action => {
                            this.fullscreenLoading = true;
                            setTimeout(() => {
                                this.fullscreenLoading = false;
                                window.location.href = "../Member/Login";
                            }, 1000);
                        }
                    });
                }
                else {
                    this.$message({
                        message: '評論成功',
                        type: 'success'
                    });
                    //TODO
                }
            },
            loginTest() {
                this.isLogin = !this.isLogin
                let msg = this.isLogin ? '登入成功' : '登出成功'
                let typ = this.isLogin ? 'success' : 'warning'
                this.$message({
                    message: msg,
                    type: typ,
                });
            }
        },
    })
</script>
</html>