@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjBookMvcCore.styles.css" asp-append-version="true" />
    <style>
        a:link, a:visited {
            text-decoration: none;
            color: inherit;
        }

        .font14px {
            font-size: 14px
        }

        .fontClean {
            text-decoration: none;
            color: inherit;
        }

        .accordion-button {
            background-color: #eeeeee;
            min-height: 15px
        }

            .accordion-button:active, .accordion-button::backdrop, .accordion-button:is(:hover) {
                background-color: #ffffff;
            }

            .accordion-button:not(.collapsed) {
                background-color: #eeeeee;
                color: inherit;
            }
    </style>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="linkaFormat" href="~/Home/Home">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">書籍</li>
        </ol>
    </nav>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        @* 活動輪播圖 *@
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a><img src="../Image/demo-pic.jpg" class="d-block w-100" alt="page1" height="300"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <a><img src="../Image/demo-pic.jpg" class="d-block w-100" alt="page2" height="300"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <a><img src="../Image/demo-pic.jpg" class="d-block w-100" alt="page3" height="300"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
   <br />
@*暢銷排行榜*@
   <div class="container">
       <div class="row">
       <div  class="col align-content-start" style="display: flex">
        <h3>暢銷排行榜</h3>
       </div>
        <div class="col justify-content-end" style="display: flex; padding:5px">
        <a role="button" class="btn btn-sm btn-outline-success mx-1" href="~/Home/Home">看更多</a>
        </div>
        </div>
        <div class="row">
            <div id="carouselExampleTopSell" class="carousel slide">
                <div class="carousel-inner">
                    @* 暢銷排行榜輪播圖 *@
                    @*輪播書本第一頁*@ <div class="carousel-item active">
                        <div class="row">
                            @*第一組*@<div class="col">
                                @*圖片*@<div style="position:relative">
                                    <a><img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." /></a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第二組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第三組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第四組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第五組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*輪播書本第二頁*@<div class="carousel-item">
                        <div class="row">
                            @*第一組*@<div class="col">
                                @*圖片*@<div style="position:relative">
                                    <a><img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." /></a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第二組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第三組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第四組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第五組*@  <div class="col">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*輪播圖切換按鈕*@ <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleTopSell" data-bs-slide="prev" border=5>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    @*輪播圖切換按鈕*@<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleTopSell" data-bs-slide="next" border=5>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid justify-content-center2" style="margin-top: 20px">
        <div class="row">
            @* 左邊功能欄 *@
            <div class="col-2">
                <div class="card">
                    @* 注目專區 *@
                    <div class="card-header">
                        推薦文章
                    </div>
                    <ul class="list-group list-group-flush">
                        @{
                            BookShopContext db = new BookShopContext();
                            var q = db.Articals.Select(a => new { a.ArticalId, a.ArticalTitle }).Take(8);
                            foreach(var g in q)
                            {
                                <li class="list-group-item"><span><a href="~/Artical/Detail文章/@g.ArticalId">@g.ArticalTitle</a></span></li>
                            }
                        } 
                    </ul>
                 </div>  
                    <br />
                <div class="card">
                    @* 中文書分類 *@
                    <div class="card-header">
                        中文書
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span><a href="~/Category/年齡">年齡</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/人文社科">人文社科</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/心理勵志">心理勵志</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/文學小說">文學小說</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/日中對照">日中對照</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/生活風格">生活風格</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/考試用書">考試用書</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/自然科普">自然科普</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/宗教命理">宗教命理</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/旅遊">旅遊</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/商業理財">商業理財</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/童書青少年文學">童書/青少年文學</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/飲食">飲食</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/電腦資訊">電腦資訊</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/漫畫圖文書">漫畫/圖文書</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/語言學習">語言學習</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/親子教養">親子教養</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/醫療保健">醫療保健</a></span></li>
                        <li class="list-group-item"><span><a href="~/Category/藝術設計">藝術設計</a></span></li>
                    </ul>
                </div>
            </div>
            @* Body *@
            <div class="col-10 bg-light">
                @RenderSection("test", required: false)
                <section class="font14px">@RenderBody()</section>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
