<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - prjBookMvcCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjBookMvcCore.styles.css" asp-append-version="true" />
    <style>
        div {
            border: 1px solid #ff0000
        }

        #zero {
            margin: 0;
            padding: 0;
        }

        #menu ul li { /*li水平顯示*/
            display: inline;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="align-items-start">
                @Html.ActionLink("讀本", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })  @*須換圖*@
            </div>
            <div class="justify-content-end" id="menu">
                <ul id="zero">
                    <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Home/Login">登入</a></li>
                    <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Home/Signin">註冊</a></li>
                    <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Home/MemberCenter">會員中心</a></li>
                    <li><a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="">購物車</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="navbar navbar-default navbar-fixed-top" @*style="border:1px solid #000000"*@>
        <div class="container" @*style="border:1px solid #000000"*@>
            <div class="navbar navbar-light container-fluid" style="border:1px solid #000000; background-color:#ebf8bc">
                @* 分類  *@
                <form class="container-fluid justify-content-start">
                    <div id="menu">
                        <ul id="zero">
                            <li><a role="button" class="btn btn-sm btn-outline-success mx-1" href="~/Home/Category">中文書</a></li>
                            <li><a role="button" class="btn btn-sm btn-outline-success mx-1" href="#id">親子</a></li>
                            <li><a role="button" class="btn btn-sm btn-outline-success mx-1" href="#id">繪本</a></li>
                            <li><a role="button" class="btn btn-sm btn-outline-success mx-1" href="#id">漫畫</a></li>
                            <li><a role="button" class="btn btn-sm btn-outline-success mx-1" href="#id">旅遊</a></li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="navbar navbar-light bg-light container-fluid" style="margin-top:10px; border:1px solid #000" id="menu">
                <form class="justify-content-start mx-2">
                    <ul id="zero">
                        <li>
                            <input style="border-right: #C4C4C4 2px solid;" placeholder="搜尋" type="search" class="is-valid" maxlength="40" autocomplete="off">
                        </li>
                        <li>
                            <a role="button" class="btn btn-sm btn-secondary mx-1" href="#id">搜尋</a>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="navbar navbar-light bg-light container-fluid" style="margin-top:10px; border:1px solid #000">
                @* 活動 *@
                <img src="~/Image/demo-pic.jpg" width="100%" height="30px" />
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        @* body *@
        @RenderBody()
    </div>


    <div class="container body-content">
        @* buttom *@
        <hr />
        <div class="container">
            <div class="row">
                <div class="col" style="text-align:center">
                    <a href="#id"><img src="../Image/demo-pic.jpg" alt="活動or優惠or廣告" width="100%" /></a>
                    活動or優惠or廣告
                </div>
                <div class="col" style="text-align:center">
                    <a href="#id"><img src="../Image/demo-pic.jpg" alt="活動or優惠or廣告" width="100%" /></a>
                    活動or優惠or廣告
                </div>
                <div class="col" style="text-align:center">
                    <a href="#id"><img src="../Image/demo-pic.jpg" alt="活動or優惠or廣告" width="100%" /></a>
                    活動or優惠or廣告
                </div>
            </div>
        </div>

        <br />
        <hr />
        <div>
            <p>客服專區</p>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
