@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 讀本｜會員中心</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjBookMvcCore.styles.css" asp-append-version="true" />
    <style>
        a:link, a:visited {
            text-decoration: none;
            color: inherit;
        }

        .font14px {
            font-size: 14px
        }

        .fontClean {
            text-decoration: none;
            color: inherit;
        }

        .accordion-button {
            background-color: #eeeeee;
            min-height: 15px
        }

            .accordion-button:active, .accordion-button::backdrop, .accordion-button:is(:hover) {
                background-color: #ffffff;
            }

    .accordion-button:not(.collapsed), {
    background-color: #eeeeee;
    color: inherit;
    }
    </style>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="container-fluid justify-content-center" style="margin-top: 20px ;border: 2px solid #ff6a00">
        <div class="row">
            @* 左邊功能欄 *@
            <div class="col-3">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header " id="headingOne">
                            <button class="accordion-button collapsed font14px " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                會員中心首頁
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <a class="font14px fontClean" href="~/Member/MemberCenter">會員中心首頁</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed font14px" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                會員資料管理
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p><a class="font14px fontClean" style="" href="~/Member/alretPassword">密碼修改</a></p>
                                <a class="font14px fontClean" href="~/Member/alretProflie">會員資料更新</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed font14px" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                訂單查詢／取消
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p><a class="font14px fontClean" href="~/Member/myOrders">訂單查詢</a></p>
                                <a class="font14px fontClean" href="~/Member/editOrders">訂單修改/取消</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed font14px" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                清單管理
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p><a class="font14px fontClean" href="~/Member/myCollect">暫存清單</a></p>
                                <p><a class="font14px fontClean" href="~/Member/myAuthor">收藏的作者</a></p>
                                <p><a class="font14px fontClean" href="~/Member/myPublisher">收藏的出版社</a></p>
                                <a class="font14px fontClean" href="~/Member/myNotice">可購買時通知我</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed font14px" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                訊息管理
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <a class="font14px fontClean" href="~/Member/myMessage">通知訊息</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Body *@
            <div class="col-9 bg-light" style="border: 1px dashed #ff0000; border-radius: 5px">
                @RenderSection("test", required: false)
                <section class="font14px">@RenderBody()</section>
            </div>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
