@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 讀本｜會員中心</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjBookMvcCore.styles.css" asp-append-version="true" />
    <style>
        a:link, a:visited {
            text-decoration: none;
            color: inherit;
        }

        .font14px {
            font-size: 14px
        }

        .fontClean {
            text-decoration: none;
            color: inherit;
        }
    </style>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="container-fluid" style="width:70%">
        <div class="row">
            @RenderBody()
        </div>
            <div class="row" style="margin-top:15px">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <a style="display:block;width:100%; text-align:center" href="~/Member/MemberCenter">會員中心首頁</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
