@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<head>
<style>
        a:link, a:visited {
            text-decoration: none;
            color: inherit;
        }

        .font14px {
            font-size: 14px
        }

        .fontClean {
            text-decoration: none;
            color: inherit;
        }
    </style>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="container-fluid" style="width:70%">
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Member/MemberCenter">會員中心</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            @RenderBody()
        </div>
    </div>
@*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
*@    
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
