<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - prjBookMvcCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjBookMvcCore.styles.css" asp-append-version="true" />
    <style>
        div {
            /*border: 1px solid #ff0000*/
        }

        #zero {
            margin: 0;
            padding: 0;
        }

        #menu ul li { /*li水平顯示*/
            display: inline;
        }
    </style>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="align-items-start">
                @Html.ActionLink("讀本", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })  @*須換圖*@
            </div>
        </div>
    </nav>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="container body-content">
        @* buttom *@
        <hr />
        <div class="container">
            <div class="row">
                <div class="col" style="text-align:center">
                    <a href="https://www.openbook.org.tw/2022openbookaward"><img src="~/Image/AD1.png" alt="活動or優惠or廣告" width="100%" style="border-radius:10px;"/> </a>
                </div>
                <div class="col" style="text-align:center">
                    <a href="https://www.kingstone.com.tw/activity/speshow/a2208153?actid=1960x600a2304254_2"><img src="~/Image/AD2.png" alt="活動or優惠or廣告" width="100%" style="border-radius:10px;" /> </a>
                </div>
                <div class="col" style="text-align:center">
                    <a href="https://activity.taaze.tw/static_act/202106/needs/index.htm?_gl=1*9t2aaw*_ga*MTg1MTU5NDUxNy4xNjgzMzU1NzYz*_ga_CK2C80VFK8*MTY4NTE2NTE4Ny4xNi4wLjE2ODUxNjUxODcuNjAuMC4w"><img src="~/Image/AD3.png" alt="活動or優惠or廣告" width="100%" style="border-radius:10px;" /> </a>
                </div>
            </div>
        </div>

        <br />
        <hr />
        <div>
            <span style="margin-right:10px"><a href="~/Home/QA">客服專區</a></span>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>
