<div class="caption bookCaption text-center">
    <a><img src="~/image/Book/bookCover/9.jpg" height="150" /></a>
    <ul style="list-style:none; margin:0; padding:0;" class="text-start">
        @Html.ActionLink("書本資訊(Test)","BookInformation","Book")
        <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
    </ul>
</div>