   @model IEnumerable<prjBookMvcCore.Models.CForHomePage>

@{
    int count = 0;
    foreach (var item in Model)
    {
        count++;
        <div class="caption bookCaption text-center">
            <a><img src="~/image/Book/bookCover/9.jpg" height="150" /></a>
            <ul style="list-style:none; margin:0; padding:0;" class="text-start">
                
                <li class='prod_TitleMain'><a>餘生是你 晚點沒關係</a></li>
                <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>坂本一男</a></li>
            </ul>
        </div>
        <div>
          
            <p>Book Title @item.recommendInformation[0].book.BookTitle</p>
            <p>Book UnitPrice @item.recommendInformation[0].book.UnitPrice</p>
        </div>
    }
}