@model prjBookMvcCore.Models.Book
@{
    ViewData["Title"] = "_ProductPartialView";
    string imgName = Model.BookId+".jpg";
}

<h1>_ProductPartialView</h1>

<div class="col" style="margin:10px;">
    <div class="img-thumbnail">
        <img src="~/Image/@imgName" class="img-responsive" />
        <h4>@Model.BookTitle</h4>
        <p>NT: @Model.UnitPrice</p>
        <p><a href="~home/bookinformation">更多資訊</a></p>
    </div>
</div>

