
@{
    ViewData["Title"] = "Promotions註冊會員禮";
}

<!DOCTYPE html>
<html>
<head>
    <style></style>
</head>
<body>
    
    <div>
        <img src="~/Image/Promotions/註冊會員_上.png" class="d-block w-100" alt="page1" width="80%">
    </div>
    
    <div style="text-align:center;">
        <a role="button" class="btn btn-sm btn-outline-secondary mx-1" href="~/Member/Login">立即加入會員!!</a>
        <img src="~/Image/Promotions/註冊會員_下.png" class="d-block w-100" alt="page1" width="80%">
    </div>

</body>
</html>

