@{
    ViewData["Title"] = "讀本會員等級";
}

<html>
<head>
    <style>
        h2 {
            color: brown;
            text-align: center;
            font-weight: 900;
        }

        td {
            padding: 15px;
        }
       table img{
            width: 100px;
            margin: 10px;
        }
        table span{
            font-style: italic;
            font-weight: bold;
            color: brown;
        }
    </style>
</head>
<body>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="~/Home/Home" style="color:black">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:gray">會員等級優惠及升等方式</li>
        </ol>
    </nav>
    <h2>會員等級優惠及升等方式</h2>
    <div class="row mt-3" style="display:flex;align-content:center;justify-content:center;">
        <table style="text-align:center;font-size:1.5em">
            <tr style="background-color:	#FBFBFF;font-weight:bold;border-bottom:2px solid brown ;"><td style="border:hidden;"></td><td rowspan="6" style="background-color:	#FFFFF4;">等<br />級<br />優<br />惠</td><td><img src="~/Image/Promotions/生日禮.png"  /><br />生日禮</td><td><img src="~/Image/Promotions/滿千折扣.png"  /><br />滿千折扣</td><td><img src="~/Image/Promotions/滿千回饋.png" /><br />滿千回饋</td><td><img src="~/Image/Promotions/每月優惠卷.png"  /><br />每月優惠劵</td><td rowspan="6" style="background-color:	#FFFFF4">升<br />等<br />方<br />式</td><td><img src="~/Image/Promotions/累積消費.png"  /><br />累積消費</td><td><img src="~/Image/Promotions/累積週期.png"  /><br />累積週期</td></tr>
            <tr ><td style="background-color:	#FBFBFF;font-weight:bold;"><img src="~/Image/新皮.png"  /><br />新皮</td><td>生日當月送<br /><span >滿699折66</span><br />Coupon 乙張</td><td> - </td><td> - </td><td> -</td><td></td><td rowspan="5" width="150px">前年度的<br />8/1至<br />當年度的<br />7/31止</td></tr>
            <tr><td style="background-color:	#FBFBFF;font-weight:bold;"><img src="~/Image/綠皮.png"  /><br />綠皮</td><td>生日當月送<br /><span >滿699折66</span><br />Coupon 乙張</td><td>單筆滿千享<br /><span >95折</span><br />優惠</td><td> - </td><td> - </td><td>累積消費達<br /><span >1</span>元</td></tr>
            <tr><td style="background-color:	#FBFBFF;font-weight:bold;"><img src="~/Image/白皮.png"  /><br />白皮</td><td>生日當月送<br /><span >滿699折66</span><br />Coupon 乙張</td><td>單筆滿千享<br /><span >95折</span><br />優惠</td><td>單筆滿千送<br /><span >1%</span><br />回饋金</td><td> - </td><td>累積消費達<br /><span >2500</span>元</td></tr>
            <tr><td style="background-color:	#FBFBFF;font-weight:bold;"><img src="~/Image/金皮.png"  /><br />金皮</td><td>生日當月送<br /><span >滿699折66</span><br />Coupon 乙張</td><td>單筆滿千享<br /><span >9折</span><br />優惠</td><td>單筆滿千送<br /><span s>5%</span><br />回饋金</td><td>每月送<br /><span >滿399折20</span><br />Coupon 乙張</td><td>累積消費達<br /><span>5000</span>元</td></tr>
            <tr><td style="background-color:	#FBFBFF;font-weight:bold;"><img src="~/Image/鑽皮.png"  /><br />鑽皮</td><td>生日當月送<br /><span >滿699折66</span><br />Coupon 乙張</td><td>單筆滿千享<br /><span >85折</span><br />優惠</td><td>單筆滿千送<br /><span >5%</span><br />回饋金</td><td>每月送<br /><span >滿399折40</span><br />Coupon 乙張</td><td>累積消費達<br /><span >7500</span>元</td></tr>
        </table>
        <div class="row p-2" style="background-color:black;color:aliceblue;"><div class="col" style="font-size:2em;font-weight:bold;text-align:right;">注意 |</div><div class="col"><div class="row">1.訂單完成才列入升等計算</div><div class="row"> 2.優惠卷限當月使用，早領早享受</div></div>​</div>
    </div>

</body>
</html>