@{
    ViewData["Title"] = "Promotions活動已結束";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="container_24 type04_header_simplify  clearfix" id="header_id" data-attr="simple">
        <div class="grid_24 clearfix">
            <div class="mod header_box clearfix"
                 style="background-image:url(https://www.books.com.tw/G/header/2008/new_header/images/books_logo_a.gif)">
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="//www.books.com.tw/csss/404page.css">
    <div class="container_24 main_wrap clearfix">
        <h1 class="msg_title">錯誤頁面訊息提示</h1>
        <div class="msg_count">
            <div class="msg">
                <h2 class="msg_info">活動已結束</h2>
                <p><a href="~/Home/Home">回讀本首頁</a></p>
            </div><span class="msg_pic"></span>
        </div>
        <div class="msg_end"></div>
    </div>
</body>
</html>