@model Member
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "修改密碼";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}
<style>
    .card:hover {
        box-shadow: 0 0 2px #ddd;
        transform: scale(1.01);
    }

    .card {
        transition: all 0.5s ease-in-out; /* 增加過渡時間至 0.5 秒 */
    }

</style>

<div class="container" style="margin-top:15px">
    <p><h6>修改密碼</h6></p>

    <form asp-action="alretPasswordMethod" id="form">
        <div>
            <br />
            <input type="hidden" id="memId" name="memId" value="@Model.MemberId" />
            <p>舊的密碼: <input name="oldPwd" id="oldPwd" type="text"></p>
            <p>新的密碼: <input name="newPwd" id="newPwd" type="text"></p>
            <p>確認密碼: <input nema="checkPwd" id="checkPwd" type="text"></p>
        </div>
        <div>
            <p>
                <div class="card" style="">
                    <input class="card-body" value="確認送出" type="submit" style="display:block;width:100%;border:none; background-color:transparent">
                </div>
            </p>
        </div>
    </form>
</div>

<script>
    const oldPwd = document.querySelector('#oldPwd');
    const newPwd = document.querySelector('#newPwd');
    const memId = document.querySelector('#memId');
    const checkPwd = document.querySelector('#checkPwd');
    const form = document.querySelector('#form');
    console.log(memId.value);
    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        if (checkPwd.value !== newPwd.value) {
            alert('兩次輸入密碼不同');
        };
        
        if (checkPwd.value === newPwd.value) {
            const response = await fetch('@Url.Action("alretPasswordMethod", "Member")', {
                method: 'POST',
                body: new FormData(form)
            });
            const datas = await response.json();
            alert(datas.message);
            if (datas.success === "True") {
                alert('請重新登入');
                window.location.href = '@Url.ActionLink("Login", "Member")';
            }
            else {
                alert('請確認輸入資訊');
                window.location.href = window.location.href;
            };
        };
    });
</script>
