@using prjBookMvcCore.Models
@model prjBookMvcCore.Models.Member

@{
    ViewData["Title"] = "alretProflie";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<style>
    td{
        border-top:5px solid transparent;
        line-height:2;
        vertical-align:top;
    }

tbody td:nth-child(1){text-align:right}

    tbody td:nth-child(2) {
        padding-left: 15px;
        text-align: left;
 }
.ips01{
    border:none;
    transition: all 0.5s ease-in-out; /* 增加過渡時間至 0.5 秒 */
        display: block;
        width: 100%
    }

    .ips01:hover {
        box-shadow: 0 0 5px grey;
        transform : scale(1. 05);
        border-radius:5px
        }

    .card:hover {
        box-shadow: 0 0 2px #ddd;
        transform: scale(1.01);
    }

    .card {
        transition: all 0.5s ease-in-out; /* 增加過渡時間至 0.5 秒 */
    }

</style>

<div class="contan">
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Member/MemberCenter">會員中心</a></li>
                <li class="breadcrumb-item active" aria-current="page">會員資料</li>
            </ol>
        </nav>
    </div>
    <p>
    <h6>會員資料</h6>
    </p>
<div class="row">
    <div class="col">
        <p >
            今年累積消費金額: @Model.CostAmount 元
        </p>
        <form asp-action="alretProflie">
            <table style="width:max-content">
            <tbody>
            <tr>
                    <td><input type="hidden" name="MemberId" value="@Model.MemberId" /></td>
                </tr>  
                <tr>
             <td> 會員姓名：</td>
                        <td><input asp-for="MemberName" class="ips01" /></td>
            <td><span asp-validation-for="MemberName" class="text-danger"></span></td>
            </tr>
            <tr>
                        <td>會員帳號(Email)：</td>
                        <td><input asp-for="MemberEmail" class="ips01" /></td>
                <td><span asp-validation-for="MemberEmail" class="text-danger"></span></td>
            </tr>
                    <tr>
                        <td>手機號碼：</td>
                        <td><input asp-for="Memberphone" class="ips01" /></td>
                        <td><span asp-validation-for="Memberphone" class="text-danger"></span></td>
                    </tr>

            <tr>
                        <td>生日：</td>
                        <td><input asp-for="MemberBrithDate" class="ips01" type="date"/></td>
                <td><span asp-validation-for="MemberBrithDate" class="text-danger"></span></td>
            </tr>
            <tr>
                        <td>預設運送地址：</td>
                        <td><input asp-for="MemberAddress" class="ips01" />
                        </td>
                <td><span asp-validation-for="MemberAddress" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <td>預設支付方式：</td>
                        <td>
                            <select class="btn btn-light" name="PaymentId">
                                @{
                                    BookShopContext db = new BookShopContext();
                                    foreach (var item in db.Payments.Select(x => x))
                                    {
                                        <option class="btn btn-light" value="@item.PaymentId">
                                            @item.PaymentName
                                        </option>
                                    } }
                            </select>
                        </td>
                     <td><span asp-validation-for="PaymentId" class="text-danger"></span></td>
            </tr>
            </tbody>
            </table>
            <div>
                <p>
                    <div class="card" style=""> 
                        <input class="card-body" value="確認修改" type="submit" style="display:block;width:100%;border:none; background-color:transparent">
                </div>
                </p>
            </div>
        </form>
    </div>
</div>
</div>