@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Find_password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*    div{border:1px solid #000000}
        */ /**/

    .linkaFormat {
        text-decoration: none;
        color: inherit
    }
</style>

<div class="container" style="margin-top:15px">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="linkaFormat" href="~/Home/Home">回首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">忘記密碼</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-8">
            <label>廣告圖</label>
        </div>
        <div class="col-4">
            <form asp-action="Find_password" id="sentEmail">
            <div class="container justify-content-center bg-light" style="border-radius:10px;  padding-block:15px">
                <p><label class="">忘記密碼</label></p>
                <p><input type="text" placeholder="請輸入Email" id="" name="" /></p>
                <p><input type="text" placeholder="驗證碼" /></p>
                <p>
                    <button class="btn btn-outline-success" type="submit" id="check">確定</button>
                </p>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const check = document.getElementById('check');
    check.addEventListener('click', function(){
        alert('我們已經將查詢資料寄到您的信箱!');
    })
</script>


