@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Find_password";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.render('html_element', {
                'sitekey': '6Lf0vO4lAAAAADrJVEDlc3YI0LtPnTKXUZkjtcv5'
            });
        };
    </script>
}

    <style>
        /*    div{border:1px solid #000000}
                                */ /**/

        .linkaFormat {
            text-decoration: none;
            color: inherit
        }
    </style>

    <div class="container" style="margin-top:15px">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="linkaFormat" href="~/Home/Home">回首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">忘記密碼</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-8">
                <label>廣告圖</label>
            </div>
            <div class="col-4">
                <form asp-controller="Member" asp-action="Find_password" id="sentEmail" method="post">
                    <div class="container justify-content-center bg-light" style="border-radius:10px;  padding-block:15px">
                        <p><label class="">忘記密碼</label></p>
                        <p>
                            <input type="text" placeholder="請輸入Email" name="target" id="inputEmail" />
                            <div style="block-size:inherit;" id="html_element"></div>
                            <br>
                        </p>
                        <p>
                            <button class="btn btn-outline-success" type="submit" id="check">確定</button>
                        </p>
                    </div>
                </form>
                <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                    async defer>
                </script>
            </div>
        </div>
    </div>
    <script>
        const check = document.getElementById('check');
        check.addEventListener('click', function () {
            alert('我們已經將查詢資料寄到您的信箱!');
        })
    </script>

    <script>
        const check = document.querySelector('#check');
        check.addEventListener('submit', async (event) => {
            event.preventDefault();
            const response = await fetch('@Url.Content("~/Member/Find_password/")?target=' + inputEmail.value);
            const result = await response.text();
            if (result === "false"){
                alert('Email沒有註冊過');
            }


                });
    </script>