@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "會員登入";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.render('html_element', {
                'sitekey': '6Lf0vO4lAAAAADrJVEDlc3YI0LtPnTKXUZkjtcv5'
            });
        };
    </script>
}
    <style>
        .linkaFormat {
            text-decoration: none;
            color: inherit
        }
    </style>

    <div class="container" style="margin-top:15px">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="linkaFormat" href="~/Home/Home">回首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">登入</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-8">
                <label>廣告圖</label>
            </div>
            <div class="col-4">
                <div class="container justify-content-center bg-light" style="border-radius:10px; padding-block:15px">
                    <p><label class="">會員登入</label></p>
                    <form asp-action="Login" id="demo-form">
                        <p><input type="text" placeholder="讀本Email" name="Account_P" id="account" /></p>
                        <p><input type="password" placeholder="讀本密碼" name="Password_P" id="password" /></p>
                        <p>
                            <div style="block-size:inherit;" id="html_element"></div>
                            <br>
                            <button id="submitBtn" type="submit" class="btn btn-outline-success">讀本會員登入</button>
                            <a class="linkaFormat small" href="~/Member/Signin">註冊</a>｜
                            <a class="linkaFormat small" href="~/Member/Find_password">忘記帳密</a>
                        </p>
                    </form>
                    <p>
                        <button type="button" id="demo" class="btn btn-outline-success">Demo</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        const x = document.getElementById('demo');
        const A = document.getElementById('account');
        const P = document.getElementById('password');
        x.addEventListener('click', function () {
            A.value = "greenLake092@gmail.com";
            P.value = "Bs123456";
        })
    </script>
    <script>
        const form = document.getElementById('demo-form');
        form.addEventListener('submit', async () => {
            const response = await fetch('@Url.Action("Login", "Member")', { method: 'POST', body: new FormData(form) });
            const comfirm = await response.json();
            if (comfirm.success === true) {
                alert(comfirm.message);
                window.location.href = '/Home/Home';
                return;
            }
            alert(comfirm.message);
            window.location.reload();
        });
    </script>