@model UserInforService
@{
    ViewBag.Title = "會員中心首頁";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<style>
    .card:hover {
        box-shadow: 0 0 5px #ddd;
        transform: scale(1.05);
    }
    .card{
        transition: all 0.5s ease-in-out; /* 增加過渡時間至 0.5 秒 */
        /*width: 300px;*/
            }
    div{border:none}
</style>

<div class="container" >
    <div id="inforCards" style="margin-top:15px">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="display-6">@Model.UserLevel</h5>
                        <p class="card-text small">等級期限 2023/08/31 止<br />尚差 4058 元即可升等為 書魔 ,了解詳細<a href="~/Home/MemberCenter">會員分級</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a class="card-body" style="display:block;width:100%;" href="~/Member/myMessage">
                        <p class="card-text">
                            您有 </p><span class="display-6">@Model.UserMessageCount  </span>封訊息未讀
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            您的回饋金餘額：
                        </p><span class="display-6">@Model.UserPoints  </span>點
                    </div>
                </div>
            </div>        
            <div class="col">
                <div class="card">                    
                    <div class="card-body">
                        <p class="card-text">
                            您的E-Coupon尚有：
                        </p><span class="display-6">1  </span>張
                    </div>
                </div>
            </div>
        </div>
</div>
</div>