@model IEnumerable<prjBookMvcCore.Models.CollectedAuthor>

@{
    ViewData["Title"] = "myAuthor";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}


<div class="container">
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/MemberCenter">會員中心</a></li>
                <li class="breadcrumb-item active" aria-current="page">暫存清單</li>
            </ol>
        </nav>
    </div>
    <p>
        <h6>收藏作者</h6>
    </p>
    <table class="table">
        <tr>
            <th>
                序號
            </th>
            <th>
                作者
            </th>
            <th></th>
        </tr>

        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.AuthorName)
                    </td>
                    <td>
                        @Html.ActionLink("最近的書目", "Details", new { id = item.CollectedAuthorId }) | @*todo*@
                        @Html.ActionLink("刪除", "Delete", new { id = item.CollectedAuthorId })
                    </td>
                </tr>
            }
        }
    </table>
</div>