@model IEnumerable<prjBookMvcCore.Models.OrderDiscountDetail>
@inject UserInforService _user
@{
    ViewData["Title"] = "我的Coupons";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<style>
    .card:hover {
        box-shadow: 0 0 5px #ddd;
        transform: scale(1.05);
    }

    .card {
        width: 300px;
        transition: all 0.5s ease-in-out; /* 增加過渡時間至 0.5 秒 */
    }

    div {
        border: none
    }

    a {
        color: inherit;
        text-decoration: none
    }
    .cust:hover{color:brown}
</style>
<p> <h4>我的Coupons！</h4></p>
<div class="container-flex" >
    <div class="row">
        @{
            if(Model.Count() > 0){
                foreach (var item in Model)
                {
                        <div class="col-md-6 mb-3">
                            <div class="card">
                                <a class="card-body" style="display:block;width:100%;" href="~/Order/ShoppingCart">
                                    <p class="h5" style="font:bold">
                                        @item.OrderDiscount.OrderDiscountnName
                                        <div class="small">@item.OrderDiscount.OrderDiscountDescprtion</div>
                                    </p>
                                    <span class="small">使用期限：@item.OrderDiscountStartDate.ToString("yyyy/MM/dd") ~ @item.OrderDiscountEndDate.AddDays(-1).ToString("yyyy/MM/dd")</span>
                                </a>
                            </div>
                        </div>
                }
            }else{
                    <div class="" style="text-align:center">
                    <h3>現在還沒有優惠券喔</h3>
                        <div class="mt-4">
                        <img src="~/Image/天上的星星會說話.gif">
                        <h1 class="mt-4"> <a class="cust" href="../../Promotions/Promotions領取當周優惠">快來領取吧!</a></h1>
                    </div>
                    </div>
            }
            }
    </div>
</div>
