@using prjBookMvcCore.Models
@model IEnumerable<prjBookMvcCore.Models.MessageMemberDetail>

@{
    ViewData["Title"] = "myMessage";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<div class="container" style="margin-top:15px">
    <p> <h6>訊息通知</h6></p>
    <table class="table table-hover">
        <tr>
            <th>序號</th>
            <th>訊息類型</th>
            <th>發送時間</th>
            <th>訊息主旨</th>
            <th>全選</th>
        </tr>

        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;

                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @{
                            BookShopContext bookShop = new BookShopContext();
                            string x = bookShop.MessageTypes.Where(x => x.MessageTypeId == item.Message.MessageTypeId).Select(x => x.MessageTypeName).FirstOrDefault().ToString();
                        }

                        @Html.DisplayFor(modelItem =>x)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message.MessageTitle)
                    </td>
                    <td>
                        @Html.ActionLink("刪除", "Delete", new { id = item.MessageMemberDetailId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                    </td>
                </tr>
            }
        }
    </table>
</div>
