@using prjBookMvcCore.Models
@model IEnumerable<prjBookMvcCore.Models.MessageMemberDetail>

@{
    ViewData["Title"] = "myMessage";
    Layout = "~/Views/Shared/_Layout_Member.cshtml";
}

<style>
    div{border:none}
</style>

<div class="container" style="margin-top:15px">
    <p> <h6>訊息通知</h6></p>
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action" aria-current="true" style="background-color:lightgray">
                    訊息列表
                </button>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
            <div class="col">
                    <button type="button" class="btn btn-outline-secondary disabled" aria-current="true">
                     訊息類型:</button>
                    <span id="messagetype" class="btn btn-outline-secondary "> 系統訊息</span>
            </div>
            <div class="col">
                    <button type="button" class="btn btn-outline-secondary disabled" aria-current="true">
                    訊息發送時間:
                    </button>
                    <span id="createtime" class="btn btn-outline-secondary " > 發送時間</span>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
        <div class="list-group">
                @{
                    foreach(var item in Model)
                    {
                        <button id="Inputid" value="@item.MessageMemberDetailId" type="button" class="list-group-item list-group-item-action" aria-current="true">
                            @Html.DisplayFor(x=>item.Message.MessageTitle)
                        <span class="badge bg-primary rounded-pill">未讀</span></button>
                    }
                    }
        </div>
        </div>
        <div class="col-9">
            <div class="container" >
                <div id="content" class="mt-3">

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const message = document.querySelector('#Inputid');
        const content = document.querySelector('#content');
        const messagetype = document.querySelector('#messagetype');
        const createtime = document.querySelector('#createtime');

        message.addEventListener('click', async()=>{
            const response = await fetch('@Url.Content("~/Member/getMessage")?Inputid=' + message.value);
            const data = await response.json();
            console.log(data);
            content.innerHTML = `${data.content_a}`;
            messagetype.innerHTML = `${data.type_a}`;
            createtime.innerHTML = `${data.time}`;
        })
    </script>
}

