@model prjBookMvcCore.ViewModel.NewMemberViewModel
@{
    ViewData["Title"] = "Signin";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<style>
    .linkaFormat {
        text-decoration: none;
        color: inherit
    }

    .toast {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
    }

    .inputS {
        width: 100%;
        
    }
</style>

<div class="container" style="margin-top:15px">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="linkaFormat" href="~/Home/Home">回首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">會員註冊</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-6">
            <img src="~/Image/Promotions/註冊會員_上.png" class="d-block w-100" alt="page1" width="80%">
        </div>
        <div class="col-6">
            <form asp-action="Create" id="signin_form">
                <div class="container justify-content-center bg-light" style="border-radius:10px;  padding-block:15px">
                    <p><h4 style="font-weight:bold">會員註冊</h4></p>
                    <p><input id="email" asp-for="MemberEmail_P" placeholder="輸入您的Email" class="inputS" required /><br /></p>
                    <p>
                        <input asp-for="MemberPassword_P" placeholder="您的密碼" id="pwd" class="inputS" pattern="[a-zA-Z0-9]{7,}" required />
                        <br /><label id="passwordError" style="font-size:xx-small">請設定8-10位英數字密碼，須包含至少一個大寫字母</label>
                    </p>
                    <p><input id="pwdCheck" placeholder="確認輸入密碼" class="inputS" required /><label id="passwordError2" style="font-size:xx-small"></label></p>
                    <p><input id="name" asp-for="MemberName_P" placeholder="姓名" class="inputS" required /></p>
                    <p><input asp-for="MemberBrithDate_P" value="1995-01-01" type="date" class="inputS" required /></p>
                    <p><input id="phone" asp-for="Memberphone_P" placeholder="電話" class="inputS" required /></p>
                    <p><input id="address" asp-for="MemberAddress_P" placeholder="地址" class="inputS" required /></p>
                    <div class="row bg-info" style="width:inherit; margin-left:1px">
                    <div  class="col form-check">
                        <input asp-for="isSubscribe" class="form-check-input" type="checkbox" id="flexCheckChecked">
                        我想接收到電子報
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary" id="liveToastBtn" type="button">會員條款</button>
                        <label class="form-check-label" for="flexCheckChecked" id="join_policy_check" style="margin-left:15px">請閱讀條款</label>
                        </div>
                    </div>
                    <div style="text-align:center; margin-top:15px">
                        <button type="submit" id="checkbtn" class="btn btn-outline-secondary" >確認送出</button>
                        <button type="button" id="demo" class="btn btn-outline-success">Demo</button>
                        @*<button type="button" id="demo2" class="btn btn-outline-success" style="margin-left:15px">Demo2</button>*@
                    </div>

                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">閱讀會員服務使用條款</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            <div>
                                <iframe src="~/lib/text/join_policy.txt" style="width:100%"></iframe>
                            </div>
                            <div style="margin-top:10px">
                                <button id="agree_policy" class="btn btn-outline-secondary " data-bs-dismiss="toast" aria-label="Close" style="margin-left:35%" value="true" type="button">了解並同意</button>
                                <button id="disagree_policy" class="btn btn-outline-secondary " data-bs-dismiss="toast" aria-label="Close" style="margin-left:10px" value="false" type="button">不同意</button>
                            </div>
                        </div>
                    </div> @*吐司*@
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const x = document.getElementById('demo');
    //const y = document.getElementById('demo2');
    //x.addEventListener('click', function () {
    //    const A = document.getElementById('email');
    //    const B = document.getElementById('pwd');
    //    const C = document.getElementById('pwdCheck');
    //    const D = document.getElementById('name');
    //    const E = document.getElementById('phone');
    //    const F = document.getElementById('address');

    //    A.value = "finnthehuman@gmail.com";
    //    B.value = "As123456";
    //    C.value = "As123456";
    //    D.value = "人類芬";
    //    E.value = "0968688688";
    //    F.value = "台北市中正區牯嶺街5巷10號";
    //});    
    
    x.addEventListener('click', function () {
        const A = document.getElementById('email');
        const B = document.getElementById('pwd');
        const C = document.getElementById('pwdCheck');
        const D = document.getElementById('name');
        const E = document.getElementById('phone');
        const F = document.getElementById('address');

        A.value = "greenLake092@gmail.com";
        B.value = "As123456";
        C.value = "As123456";
        D.value = "獨書仁";
        E.value = "0968688688";
        F.value = "台北市中正區牯嶺街5巷10號";
    });

</script>
<script>
    var toastTrigger = document.getElementById('liveToastBtn')
    var toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
            var toast = new bootstrap.Toast(toastLiveExample)
            toast.show()
        })

        const agreeBtn = document.getElementById('agree_policy');
        const disagreeBtn = document.getElementById('disagree_policy');
        const label = document.getElementById('join_policy_check');
        var agreed_check = false;
        // 當同意按鈕被點擊時，改變標籤文字
        agreeBtn.addEventListener('click', function () {
            label.textContent = '已同意';
            agreed_check = true;

            const btn = document.getElementById('checkbtn');
            btn.style.display = 'flex';

        });

        // 當不同意按鈕被點擊時，改變標籤文字
        disagreeBtn.addEventListener('click', function () {
            label.textContent = '請閱讀會員服務使用條款';
            agreed_check = false;
            const btn = document.getElementById('checkbtn');
            btn.style.display = 'none';
        });

        const btn = document.getElementById('checkbtn');
        btn.style.display = 'none';
    }
</script>
<script>
    const signin = document.querySelector('#signin_form');
    // 驗證密碼格式
    function pwdCheck(inputpwd) {
        var passwordPattern = /^(?=.*[A-Z])[A-Za-z0-9]{8,}$/;
        if (!passwordPattern.test(inputpwd)) {
            var passwordError = document.getElementById("passwordError");
            passwordError.innerText = "密碼必須為8到10位的英文字母和數字組合，並至少包含一個大寫字母";
            return false;
        }
        return true;
    };
    // 驗證兩次輸入的密碼是否相同
    function pwd2Check() {
        var password = document.getElementById("pwd").value;
        var passwordCheck = document.getElementById("pwdCheck").value;
        if (password !== passwordCheck) {
            var passwordError2 = document.getElementById("passwordError2");
            passwordError2.innerText = "兩次輸入的密碼不相同";
            return false;
        }
        return true;
    };

    signin.addEventListener('submit', async (event) => {
        event.preventDefault();
        const pwd = document.getElementById('pwd').value;
        if (pwdCheck(pwd) && pwd2Check()) {
            const response = await fetch('@Url.ActionLink("Create")', {
                method: 'POST',
                body: new FormData(signin)
            });
            const confirmtext = await response.text();
            if (confirmtext === "exist") {
                alert("帳號已存在");
            };
            if (confirmtext === "notexist") {
                alert("註冊成功，系統將自動轉向登入頁面");
                window.location.href = '@Url.Action("Login", "Member")'; // 設定要轉向的頁面 URL
            }
        }
        else {
            alert('請確認密碼格式和兩次輸入的密碼是否正確');
        };
    });
</script>
