@using prjBookMvcCore.Models
@model CForHomePage

<div class="row">
    @{
        int count = 0;
        foreach (var item in Model.recommendInformation)
        {
            <div class="col-4">
                <img src="@item.book.CoverPath"></img>
                <p>Book Title @item.book.BookTitle</p>
                <p>Book UnitPrice @item.book.UnitPrice</p>
                <p>Book Publication Date:  @item.book.PublicationDate</p>
            </div>
        }
    }
</div>