@model IEnumerable<prjBookMvcCore.Models.Category>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout_Category.cshtml";
}

<div class="container" style="margin-top:15px">
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Category">分類</a></li>
            </ol>
        </nav>
    </div>
    <p><h6 class="">讀本｜會員中心</h6></p>
    <div>
        <p><img src="~/Image/pic_Lever.jpg" style="max-width:100%; height:auto;" /></p>
        <p>
            您的會員等級: 書妖 (等級期限 2023/08/31 止) ， 尚差 4058 元即可升等為 書魔 ,了解詳細<a href="~/Home/MemberCenter">會員分級</a>
        </p>
        <p>
            <ul>
                <li>您有 3 封訊息未讀</li>
                <li>回饋金餘額 4 點</li>
                <li>E-Coupon 1 張</li>
            </ul>
        </p>
    </div>
</div>
