@{
    ViewBag.Title = "commentList";
    Layout = "~/Views/Shared/_Layout_Comment.cshtml";
}

<h2>commentList</h2>

<div class="container">
    <div class="row">
        @*一組*@ <div class="col">
            <div class="row">
                <div class="col">
                    <a href="~/Home/CommentPage"><img src="~/image/demo-pic.jpg" width="100%" class="float-start" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
        @*一組*@<div class="col">
            <div class="row">
                <div class="col">
                    <a><img src="~/image/demo-pic.jpg" width="100%" class="float-start" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
        @*一組*@<div class="col">
            <div class="row">
                <div class="col">
                    <a><img src="~/image/demo-pic.jpg" width="100%" class="float-start" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        @*一組*@ <div class="col">
            <div class="row">
                <div class="col">
                    <a><img src="~/image/demo-pic.jpg" width="100%" class="float-start" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
        @*一組*@<div class="col">
            <div class="row">
                <div class="col">
                    <a><img src="~/image/demo-pic.jpg" width="100%" class="float-start" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
        @*一組*@<div class="col">
            <div class="row">
                <div class="col">
                    <a><img src="~/image/demo-pic.jpg" width="100%" class="float-start" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
    </div>
</div>