@{
    ViewBag.Title = "commentList";
    Layout = "~/Views/Shared/_Layout_Comment.cshtml";
}

<h2>commentList</h2>

<div class="container">
    <div class="row">
        @*一組*@ <div class="col">
            <div class="row">
                <div class="col text-center">
                    <a href="~/Book/BookInformation#comment"><img src="~/image/Book/bookCover/1.jpg" height="150" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
        @*一組*@<div class="col">
            <div class="row">
                <div class="col text-center">
                    <a href="~/Book/BookInformation#comment"><img src="~/image/Book/bookCover/2.jpg" height="150" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
        @*一組*@<div class="col">
            <div class="row">
                <div class="col text-center">
                    <a href="~/Book/BookInformation#comment"><img src="~/image/Book/bookCover/3.jpg" height="150" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        @*一組*@ <div class="col">
            <div class="row">
                <div class="col text-center">
                    <a href="~/Book/BookInformation#comment"><img src="~/image/Book/bookCover/4.jpg" height="150" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
        @*一組*@<div class="col">
            <div class="row">
                <div class="col text-center">
                    <a href="~/Book/BookInformation#comment"><img src="~/image/Book/bookCover/5.jpg" height="150" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
        @*一組*@<div class="col">
            <div class="row">
                <div class="col text-center">
                    <a href="~/Book/BookInformation#comment"><img src="~/image/Book/bookCover/6.jpg" height="150" /></a>
                </div>
                <div class="col">
                    productshow productshow productshow productshow productshow
                </div>
            </div>
            <div class="row">
                <div class="col">
                    productshow productshow productshow productshow productshow productshow productshow productshow
                </div>
            </div>
        </div>
    </div>
</div>