@model IEnumerable<prjBookMvcCore.Models.Category>

@{
    ViewData["Title"] = "CategoryBook";
    Layout = "~/Views/Shared/_Layout_MENU.cshtml";
}
<style>
/*    div {
        border: 1px solid #ff0000;
    }*/

</style>

<br />
<hr />
<br />
  <div>
        <div style="float:left;display: flex;padding:2px">
            <h3>編輯推薦</h3>
        </div>
        <div style="display: flex;justify-content: flex-end;padding:10px">
            <button type="button" style="border:1px solid black;border-radius:20px" name="編輯推薦看更多" id="編輯推薦看更多">看更多</button>
        </div>

        <div class="container body-content">
            <div id="carouselExampleBooks" class="carousel slide">
                <div class="carousel-inner">
                    @*輪播書本第一頁*@ <div class="carousel-item active">
                        <div class="row">
                            @*第一組*@<div class="col-3">
                                @*圖片*@<div style="position:relative">
                                    <a><img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." /></a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第二組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第三組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第四組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第五組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第六組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第七組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第八組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*輪播書本第二頁*@<div class="carousel-item">
                        <div class="row">
                            @*第一組*@  <div class="col-3">
                                @*圖片*@<div style="position:relative">
                                    <a><img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." /></a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第二組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第三組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第四組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第五組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第六組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第七組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第八組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*輪播書本第三頁*@<div class="carousel-item">
                        <div class="row">
                            @*第一組*@  <div class="col-3">
                                @*圖片*@<div style="position:relative">
                                    <a><img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." /></a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第二組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第三組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第四組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第五組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第六組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第七組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第八組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*輪播書本第四頁*@<div class="carousel-item">
                        <div class="row">
                            @*第一組*@  <div class="col-3">
                                @*圖片*@<div style="position:relative">
                                    <a><img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." /></a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第二組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>

                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第三組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>

                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第四組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>

                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第五組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第六組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                            @*第七組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>

                                </div>
                            </div>
                            @*第八組*@  <div class="col-3">
                                <!--<a href="/sing.html?pid=11100988047" onclick="historyStat(this, event, 3)">-->
                                @*圖片*@<div style="position:relative">
                                    <a>
                                        <img src="~/Image/demo-pic.jpg" class="d-block w-100" alt="..." />
                                    </a>
                                </div>
                                <div class="caption bookCaption">
                                    <ul style="list-style:none; margin:0; padding:0;">
                                        <li class='prod_TitleMain'>
                                            <a>
                                                戰勝會考 國中必備英語2000字（編修版）
                                            </a>
                                        </li>
                                        <li class='prod_author'>作者：<a href='/rwd_searchResult.html?keyword%5B%5D=LiveABC編輯群&keyType%5B%5D=2'>LiveABC編輯群</a></li>
                                        <li class="discPrice">優惠價：<span>79</span>折<span>284</span>元</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*輪播圖切換按鈕*@ <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleBooks" data-bs-slide="prev" border=5>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    @*輪播圖切換按鈕*@<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleBooks" data-bs-slide="next" border=5>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>


</div>

