@inject UserInforService user
@{
    ViewData["Title"] = "Q&A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card:hover {
        box-shadow: 0 0 5px #ddd;
        transform: scale(1.05);
    }

    .card {
        transition: all 0.5s ease-in-out; /* 增加過渡時間至 0.5 秒 */
    }

    div {
        border: none
    }

</style>

<div class="container-fluid">
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Home">回首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card1" role="button" aria-expanded="false" aria-controls="card1">
                <p class="card-text">加入會員 </p>
            </a>
        </div>
        <div class="collapse" id="card1">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card2" role="button" aria-expanded="false" aria-controls="card2">
                <p class="card-text">會員分級制度 </p>
            </a>
        </div>
        <div class="collapse" id="card2">
            <div class="card card-body">
                <p style="font-weight:bold">升級方法</p>
                <ol>
                    <li class="mt-2">統計期間：前年度的8/1至當年度的7/31止</li>
                    <li class="mt-2">年度結算日：每年8/25</li>
                    <li class="mt-2">生效日：9/1</li>
                    <li class="mt-2">等級有效期間：當年度9/1至次年8/31止</li>
                </ol>
                <p>
                    會員優惠
                    <table class="table table-sm ">
                        <thead>
                            <tr>
                                <th>會員等級</th>
                                <th>折扣優惠</th>
                                <th>回饋金優惠</th>
                                <th>Coupon優惠</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>新皮</td>
                            </tr>
                            <tr>
                                <td>綠皮</td>
                                <td>滿千享95折</td>
                            </tr>
                            <tr>
                                <td>白皮</td>
                                <td>滿千享95折</td>
                                <td>滿千享1%回饋金</td>
                            </tr>
                            <tr>
                                <td>金皮</td>
                                <td>滿千享9折</td>
                                <td>滿千享5%回饋金</td>
                                <td>訂單滿$399送$20 E-Coupon</td>
                            </tr>
                            <tr>
                                <td>鑽皮</td>
                                <td>滿千享85折</td>
                                <td>滿千享5%回饋金</td>
                                <td>訂單滿$399送$40 E-Coupon</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card3" role="button" aria-expanded="false" aria-controls="card2">
                <p class="card-text">退換貨原則 </p>
            </a>
        </div>
        <div class="collapse" id="card3">
            <div class="card card-body">
                <p style="font-weight:bold">退換貨原則</p>
                <p>會員購買商品有10天猶豫期，如欲辦理退換貨，請在取得該商品當日起算10日內（含例假日）提出申請。</p>
                <ol>
                    <li>
                        下列商品或服務，不提供10天猶豫期退貨：
                        <ol>
                            <li class="mt-2">依消費者要求所為之客製化給付。</li>
                            <li class="mt-2">報紙、期刊或雜誌。</li>
                            <li class="mt-2">經消費者拆封之影音商品或電腦軟體。</li>
                            <li class="mt-2">電子書、電子雜誌。</li>
                        </ol>
                    </li>
                    <li class="mt-4">
                        提醒您，退換貨注意事項
                        <ol>
                            <li class="mt-2">辦理退換貨時，請保持商品全新狀態與完整包裝(商品本身、贈品、贈票、附件、內外包裝、保證書、隨貨文件等)一併寄回，若退回商品無法回復原狀者，將影響退換貨權利之行使或須負擔毀壞之費用。</li>
                            <li class="mt-2">倘有運送過程所造成之瑕疵品，請提供包材及瑕疵處之清晰照片，以利退換貨。</li>
                            <li class="mt-2">已超過10天猶豫期卻將商品寄回退貨，須請自付運費郵資取回商品。</li>
                            <li class="mt-2">會員訂購商品後若大量退換貨，由於已造成作業上之困擾，將視情況對該會員採取限制交易方式或拒絕交易或永久取消會員資格辦理。</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card4" role="button" aria-expanded="false" aria-controls="card3">
                <p class="card-text">聯絡客服 </p>
            </a>
        </div>
        <div class="collapse" id="card4">
            <div class="card card-body">
                <h5>請寫下您的問題，我們會慎重處理</h5>
                <form id="complaintForm" asp-controller="Member" asp-action="submitComplaint">
                    <div class="input-group">
                        <p>
                            <div><label for="complanintType">問題類型</label></div>
                            <div>
                                <select name="complanintType" id="complanintType">
                                    <option value="訂單問題">訂單問題</option>
                                    <option value="商品問題">商品問題</option>
                                    <option value="系統問題">系統問題</option>
                                    <option value="其他類型">其他</option>
                                </select>
                            </div>
                        </p>
                        <p>
                            <h6>您的問題主旨</h6>
                            <input name="subtitle" class="form-control w-100" type="text" />
                        </p>
                        <p>
                            <h6>請具體描述您的問題</h6>
                            <textarea name="mainContent" class="form-control w-100"></textarea>
                        </p>
                        <p>另以Email通知我</p>
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input name="isMailCheck" class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input">
                            </div>
                            <input name="Mail" type="email" class="form-control" aria-label="Text input with checkbox">
                        </div>
                    </div>
                    <button class="btn btn-outline-secondary" type="submit">確認送出</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let isLogin = false;
    window.onload = () => {
        if (@user.UserId !== 0) {
            isLogin = true;
        }
        console.log(isLogin);
    };

    const form = document.getElementById('complaintForm');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        var isMailCheck = document.querySelector('input[name="isMailCheck"]');
        var mailInput = document.querySelector('input[name="Mail"]');
        if (!loginCheck()) {
            return;
        }

        if (isMailCheck.checked) {
            if (mailInput.value.trim() === '') {
                alert('請填寫Email地址');
                return;
            }
        }
        const response = await fetch('@Url.Action("submitComplaint", "Member")', {
            method: 'POST',
            body: new FormData(form)
        });
        const confirm = await response.text();
        if (confirm === "True") {
            alert('您的問題已成功送出, 將為您轉移頁面至會員中心');
            location.href = '/Member/MemberCenter';
        } else {
            alert('您的問題沒有成功送出, 請再次確認填寫內容');
        }
    });

    function loginCheck() {
        if (isLogin === false) {
            alert('尚未登入');
            if (confirm('前往登入')) {
                window.location.href = "../../Member/Login";
            } else {
                return false;
            }
        }
        return true;
    }
</script>
