@{
    ViewData["Title"] = "Q&A";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card:hover {
        box-shadow: 0 0 5px #ddd;
        transform: scale(1.05);
    }

    .card {
        transition: all 0.5s ease-in-out; /* 增加過渡時間至 0.5 秒 */
    }

    div {
        border: none
    }

</style>

<div class="container-fluid">
    <div>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Home">回首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card1" role="button" aria-expanded="false" aria-controls="card1">
                <p class="card-text">一定要加入讀本的會員才可以購物嗎？</p>
            </a>
        </div>
        <div class="collapse" id="card1">
            <div class="card card-body">
                是的。讀本為網路書店，加入讀本的會員並透過網路訂購，方能享有專屬之回饋及權益。
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card2" role="button" aria-expanded="false" aria-controls="card2">
                <p class="card-text" >會員分級制度 </p>
            </a>
        </div>
        <div class="collapse" id="card2">
            <div class="card card-body">
                <p style="font-weight:bold"><a href="~/Promotions/Promotions會員"> 升級方法</a></p>
                <ol>
                    <li class="mt-2">統計期間：前年度的8/1至當年度的7/31止</li>
                    <li class="mt-2">年度結算日：每年8/25</li>
                    <li class="mt-2">生效日：9/1</li>
                    <li class="mt-2">等級有效期間：當年度9/1至次年8/31止</li>
                </ol>
                <p>
                    會員優惠
                    <table class="table table-sm ">
                        <thead>
                            <tr>
                                <th>會員等級</th>
                                <th>折扣優惠</th>
                                <th>回饋金優惠</th>
                                <th>Coupon優惠</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>新皮</td>
                            </tr>
                            <tr>
                                <td>綠皮</td>
                                <td>滿千享95折</td>
                                <td>滿千享1%回饋金</td>
                            </tr>
                            <tr>
                                <td>白皮</td>
                                <td>滿千享95折</td>
                                <td>滿千享1%回饋金</td>
                            </tr>
                            <tr>
                                <td>金皮</td>
                                <td>滿千享9折</td>
                                <td>滿千享1%回饋金</td>
                                <td>訂單滿$399折$20  E-Coupon</td>
                            </tr>
                            <tr>
                                <td>鑽皮</td>
                                <td>滿千享85折</td>
                                <td>滿千享5%回饋金</td>
                                <td>訂單滿$399折$40  E-Coupon</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card3" role="button" aria-expanded="false" aria-controls="card2">
                <p class="card-text">退換貨原則 </p>
            </a>
        </div>
        <div class="collapse" id="card3">
            <div class="card card-body">
                <p style="font-weight:bold">退換貨原則</p>
                <p>會員購買商品有10天猶豫期，如欲辦理退換貨，請在取得該商品當日起算10日內（含例假日）提出申請。</p>
                <ol>
                    <li>
                        下列商品或服務，不提供10天猶豫期退貨：
                        <ol>
                            <li class="mt-2">依消費者要求所為之客製化給付。</li>
                            <li class="mt-2">報紙、期刊或雜誌。</li>
                            <li class="mt-2">經消費者拆封之影音商品或電腦軟體。</li>
                            <li class="mt-2">電子書、電子雜誌。</li>
                        </ol>
                    </li>
                    <li class="mt-4">
                        提醒您，退換貨注意事項
                        <ol>
                            <li class="mt-2">辦理退換貨時，請保持商品全新狀態與完整包裝(商品本身、贈品、贈票、附件、內外包裝、保證書、隨貨文件等)一併寄回，若退回商品無法回復原狀者，將影響退換貨權利之行使或須負擔毀壞之費用。</li>
                            <li class="mt-2">倘有運送過程所造成之瑕疵品，請提供包材及瑕疵處之清晰照片，以利退換貨。</li>
                            <li class="mt-2">已超過10天猶豫期卻將商品寄回退貨，須請自付運費郵資取回商品。</li>
                            <li class="mt-2">會員訂購商品後若大量退換貨，由於已造成作業上之困擾，將視情況對該會員採取限制交易方式或拒絕交易或永久取消會員資格辦理。</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card5" role="button" aria-expanded="false" aria-controls="card5">
                <p class="card-text">加入會員需要會費嗎？</p>
            </a>
        </div>
        <div class="collapse" id="card5">
            <div class="card card-body">
                不用的，加入讀本會員終身免費。
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card6" role="button" aria-expanded="false" aria-controls="card6">
                <p class="card-text">我忘記帳號，該怎麼辦？</p>
            </a>
        </div>
        <div class="collapse" id="card6">
            <div class="card card-body">
                <p>若您忘記您原先設定之帳號，需請您來信【客服信箱】，告知您原先設定之主要信箱及備用信箱，客服人員方可為您查詢您原先設定之帳號。</p>
                <p>若您欲更改帳號，請來信至【客服信箱】由讀本將您原本設定之帳號刪除。</p>
                <p>※注意：原帳號內之所有回饋將無法轉移到新帳號。</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card8" role="button" aria-expanded="false" aria-controls="card8">
                <p class="card-text">出貨說明</p>
            </a>
        </div>
        <div class="collapse" id="card8">
            <div class="card card-body">
                <ul>
                    <li>
                        請問商品出貨日期該如何查詢？商品出貨時會另行通知嗎？
                        <ul class="mt-2">
                            <li>
                                您可以至「會員中心」→「訂單查詢卡片」→「運送狀態」，查詢您所訂購商品的出貨狀況。
                                若有疑問，請來信【客服信箱】（服務時間：星期一~五 09:00~20:00，不含國定例假日）洽詢。
                            </li>
                        </ul>
                    </li>
                    <li class="mt-3">
                        不同訂單商品可以合併出貨嗎？
                        <ul class="mt-2">
                            <li>
                                每一筆訂單視同為一個獨立的交易，因此無法為您合併訂單處理。
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card7" role="button" aria-expanded="false" aria-controls="card7">
                <p class="card-text">加入會員填寫的資料可以自行修改嗎？</p>
            </a>
        </div>
        <div class="collapse" id="card7">
            <div class="card card-body">
                <p>請至【會員中心】→【會員等級卡片】→【會員資料更新】內依顯示項目進行更改。</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" href="~/Home/askMe/" role="button">
                <p class="card-text">聯絡客服 </p>
            </a>
        </div>
    </div>

</div>
