@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card:hover {
        box-shadow: 0 0 5px #ddd;
        transform: scale(1.05);
    }

    .card {
        transition: all 0.5s ease-in-out; /* 增加過渡時間至 0.5 秒 */
    }

    div {
        border: none
    }

</style>

<div class="container-fluid">

    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card1" role="button" aria-expanded="false" aria-controls="card1">
                <p class="card-text">加入會員 </p>
            </a>
        </div>
        <div class="collapse" id="card1">
            <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card2" role="button" aria-expanded="false" aria-controls="card2">
                <p class="card-text">會員分級制度 </p>
            </a>
        </div>
        <div class="collapse" id="card2">
            <div class="card card-body">
                <p>升級方法
                <p>1.統計期間：前年度的8/1至當年度的7/31止
                <p>2.年度結算日：每年8/25
                <p>
                    3.生效日：9/1
                    4.等級有效期間：當年度9/1至次年8/31止"
                </p>
                <p>
                    會員優惠
                    新皮
                    綠皮	滿千享95折
                    白皮	滿千享95折	滿千享1%回饋金
                    金皮	滿千享9折	滿千享5%回饋金	訂單滿$399送$20 E-Coupon
                    鑽皮	滿千享85折	滿千享5%回饋金	訂單滿$399送$40 E-Coupon
                </p>
            </div>

        </div>
        </div>

        <div class="row">
        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card2" role="button" aria-expanded="false" aria-controls="card2">
                <p class="card-text">退換貨原則 </p>
            </a>
        </div>

        <div class="card" style="height:100%">
            <a class="card-body" style="display:block;width:100%;" data-bs-toggle="collapse" href="#card3" role="button" aria-expanded="false" aria-controls="card3">
                <p class="card-text">聯絡客服 </p>
            </a>
        </div>
</div>

</div>
</div>
</div>
