
@{
    ViewData["Title"] = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /*    div{border:1px solid #000000}
        */ /**/

    .linkaFormat {
        text-decoration: none;
        color: inherit
    }

    .toast {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:600px;
    }
</style>

<div class="container" style="margin-top:15px">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="linkaFormat" href="~/Home/Home">回首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">會員註冊</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-8">
            <label>廣告圖</label>
        </div>
        <div class="col-4">
            <div class="container justify-content-center bg-light" style="border-radius:10px;  padding-block:15px">
                <p><label class="">會員註冊</label></p>
                <p>
                    <input type="text" placeholder="輸入您的Email" /><br />
                    <label style="font-size:xx-small">密碼規則</label>
                </p>
                <p><input type="text" placeholder="設定密碼" /></p>
                <p><input type="text" placeholder="再次輸入密碼" /></p>
                <p><input type="text" placeholder="驗證碼" /></p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckDefault">
                        我想接收到電子報
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="liveToastBtn">
                    <label class="form-check-label" for="flexCheckChecked">
                        我同意會員條款
                    </label>
                </div>
                <div class="" style="">
                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">閱讀會員服務使用條款</strong>
                            <small></small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" sty>
                            <iframe class="accordion-body" src="~/lib/text/join_policy.txt"></iframe>
                        </div>
                    </div>
                </div>



                <p style="margin-top:10px">
                    <button class="btn btn-outline-success btn-sm" type="submit">確認送出</button>
                </p>


            </div>
        </div>

    </div>


</div>
<div id="policy_btn" style="cursor:pointer; float:left; margin-right:3px; margin-top: 2px;border: 1px solid #e3007F;padding: 0px; height: 16px; width:16px;">
    <input disabled="" type="checkbox" class="regular-checkbox" id="join_policy" name="join_policy" value="false"><label class="active" for="join_policy"></label>
</div>

                            <script>
    var toastTrigger = document.getElementById('liveToastBtn')
    var toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
            var toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }

                            </script>