
update [dbo].[OrderDetail] set [UnitPrice] = 490 where orderdetailid = 1
update [dbo].[OrderDetail] set [UnitPrice] = 450 where orderdetailid = 2
update [dbo].[OrderDetail] set [UnitPrice] = 506 where orderdetailid = 3
update [dbo].[OrderDetail] set [UnitPrice] = 551 where orderdetailid = 4
update [dbo].[OrderDetail] set [UnitPrice] = 440 where orderdetailid = 5
update [dbo].[OrderDetail] set [UnitPrice] = 480 where orderdetailid = 6
update [dbo].[OrderDetail] set [UnitPrice] = 476 where orderdetailid = 7
update [dbo].[OrderDetail] set [UnitPrice] = 196 where orderdetailid = 8
update [dbo].[OrderDetail] set [UnitPrice] = 188 where orderdetailid = 9
update [dbo].[OrderDetail] set [UnitPrice] = 420 where orderdetailid = 10
update [dbo].[OrderDetail] set [UnitPrice] = 323 where orderdetailid = 11
update [dbo].[OrderDetail] set [UnitPrice] = 130 where orderdetailid = 12
update [dbo].[OrderDetail] set [UnitPrice] = 281 where orderdetailid = 13
update [dbo].[OrderDetail] set [UnitPrice] = 1140 where orderdetailid = 14
update [dbo].[OrderDetail] set [UnitPrice] = 222 where orderdetailid = 15
update [dbo].[OrderDetail] set [UnitPrice] = 281.00 where orderdetailid = 16
update [dbo].[OrderDetail] set [UnitPrice] = 720.00 where orderdetailid = 17
update [dbo].[OrderDetail] set [UnitPrice] = 600.00 where orderdetailid = 18
update [dbo].[OrderDetail] set [UnitPrice] = 450 where orderdetailid = 19
update [dbo].[OrderDetail] set [UnitPrice] = 428.00 where orderdetailid = 20
update [dbo].[OrderDetail] set [UnitPrice] = 600.00 where orderdetailid = 21
update [dbo].[OrderDetail] set [UnitPrice] = 330.00 where orderdetailid = 22
update [dbo].[OrderDetail] set [UnitPrice] = 272 where orderdetailid = 23
update [dbo].[OrderDetail] set [UnitPrice] = 380.00 where orderdetailid = 24
update [dbo].[OrderDetail] set [UnitPrice] = 399.00 where orderdetailid = 25
update [dbo].[OrderDetail] set [UnitPrice] = 630.00 where orderdetailid = 26
update [dbo].[OrderDetail] set [UnitPrice] = 1104.00 where orderdetailid = 27
update [dbo].[OrderDetail] set [UnitPrice] = 480.00 where orderdetailid = 28
update [dbo].[OrderDetail] set [UnitPrice] = 281 where orderdetailid = 31
update [dbo].[OrderDetail] set [UnitPrice] = 480 where orderdetailid = 32
update [dbo].[OrderDetail] set [UnitPrice] = 1620 where orderdetailid = 33
update [dbo].[OrderDetail] set [UnitPrice] = 399 where orderdetailid = 34
update [dbo].[OrderDetail] set [UnitPrice] = 760.00 where orderdetailid = 35
update [dbo].[OrderDetail] set [UnitPrice] = 399.00 where orderdetailid = 36
update [dbo].[OrderDetail] set [UnitPrice] = 188.00 where orderdetailid = 37
update [dbo].[OrderDetail] set [UnitPrice] = 225 where orderdetailid = 38
update [dbo].[OrderDetail] set [UnitPrice] = 399.00 where orderdetailid = 39
update [dbo].[OrderDetail] set [UnitPrice] = 273.00 where orderdetailid = 40
update [dbo].[OrderDetail] set [UnitPrice] = 511.00 where orderdetailid = 41
update [dbo].[OrderDetail] set [UnitPrice] = 281.00 where orderdetailid = 42
update [dbo].[OrderDetail] set [UnitPrice] = 281.00 where orderdetailid = 43
update [dbo].[OrderDetail] set [UnitPrice] = 399 where orderdetailid = 44
update [dbo].[OrderDetail] set [UnitPrice] = 338.00 where orderdetailid = 45
update [dbo].[OrderDetail] set [UnitPrice] = 368.00 where orderdetailid = 46
update [dbo].[OrderDetail] set [UnitPrice] = 368 where orderdetailid = 47
update [dbo].[OrderDetail] set [UnitPrice] = 188.00 where orderdetailid = 49
update [dbo].[OrderDetail] set [UnitPrice] = 225.00 where orderdetailid = 50
update [dbo].[OrderDetail] set [UnitPrice] = 520.00 where orderdetailid = 51
update [dbo].[OrderDetail] set [UnitPrice] = 499.00 where orderdetailid = 52
update [dbo].[OrderDetail] set [UnitPrice] = 475.00 where orderdetailid = 53
update [dbo].[OrderDetail] set [UnitPrice] = 475.00 where orderdetailid = 54
update [dbo].[OrderDetail] set [UnitPrice] = 361.00 where orderdetailid = 55
update [dbo].[OrderDetail] set [UnitPrice] = 428.00 where orderdetailid = 56
update [dbo].[OrderDetail] set [UnitPrice] = 428.00 where orderdetailid = 57
update [dbo].[OrderDetail] set [UnitPrice] = 315.00 where orderdetailid = 59
update [dbo].[OrderDetail] set [UnitPrice] = 428.00 where orderdetailid = 60
update [dbo].[OrderDetail] set [UnitPrice] = 475.00 where orderdetailid = 61
update [dbo].[OrderDetail] set [UnitPrice] = 475.00 where orderdetailid = 62
update [dbo].[OrderDetail] set [UnitPrice] = 317.00 where orderdetailid = 63
update [dbo].[OrderDetail] set [UnitPrice] = 423.00 where orderdetailid = 64
update [dbo].[OrderDetail] set [UnitPrice] = 301 where orderdetailid = 65
update [dbo].[OrderDetail] set [UnitPrice] = 572.00 where orderdetailid = 66
update [dbo].[OrderDetail] set [UnitPrice] = 456.00 where orderdetailid = 67
update [dbo].[OrderDetail] set [UnitPrice] = 551.00 where orderdetailid = 68
update [dbo].[OrderDetail] set [UnitPrice] = 281.00 where orderdetailid = 69
update [dbo].[OrderDetail] set [UnitPrice] = 387.00 where orderdetailid = 70
update [dbo].[OrderDetail] set [UnitPrice] = 442.00 where orderdetailid = 72
update [dbo].[OrderDetail] set [UnitPrice] = 599.00 where orderdetailid = 73
update [dbo].[OrderDetail] set [UnitPrice] = 316.00 where orderdetailid = 75
update [dbo].[OrderDetail] set [UnitPrice] = 317.00 where orderdetailid = 76
update [dbo].[OrderDetail] set [UnitPrice] = 475.00 where orderdetailid = 78
update [dbo].[OrderDetail] set [UnitPrice] = 475.00 where orderdetailid = 79
update [dbo].[OrderDetail] set [UnitPrice] = 357.00 where orderdetailid = 80
update [dbo].[OrderDetail] set [UnitPrice] = 626.00 where orderdetailid = 81
update [dbo].[OrderDetail] set [UnitPrice] = 442.00 where orderdetailid = 82
update [dbo].[OrderDetail] set [UnitPrice] = 380.00 where orderdetailid = 83
update [dbo].[OrderDetail] set [UnitPrice] = 380 where orderdetailid = 84
update [dbo].[OrderDetail] set [UnitPrice] = 523 where orderdetailid = 85
update [dbo].[OrderDetail] set [UnitPrice] = 188 where orderdetailid = 86
update [dbo].[OrderDetail] set [UnitPrice] = 317.00 where orderdetailid = 87
update [dbo].[OrderDetail] set [UnitPrice] = 616.00 where orderdetailid = 88
update [dbo].[OrderDetail] set [UnitPrice] = 264.00 where orderdetailid = 89
update [dbo].[OrderDetail] set [UnitPrice] = 428.00 where orderdetailid = 90
update [dbo].[OrderDetail] set [UnitPrice] = 281.00 where orderdetailid = 91
update [dbo].[OrderDetail] set [UnitPrice] = 188.00 where orderdetailid = 92
update [dbo].[OrderDetail] set [UnitPrice] = 475.00 where orderdetailid = 93
update [dbo].[OrderDetail] set [UnitPrice] = 272.00 where orderdetailid = 94
update [dbo].[OrderDetail] set [UnitPrice] = 304.00 where orderdetailid = 95
update [dbo].[OrderDetail] set [UnitPrice] = 295.00 where orderdetailid = 96
update [dbo].[OrderDetail] set [UnitPrice] = 475.00 where orderdetailid = 97
update [dbo].[OrderDetail] set [UnitPrice] = 475.00 where orderdetailid = 98
update [dbo].[OrderDetail] set [UnitPrice] = 380.00 where orderdetailid = 99
update [dbo].[OrderDetail] set [UnitPrice] = 523.00 where orderdetailid = 100
update [dbo].[OrderDetail] set [UnitPrice] = 309.00 where orderdetailid = 101
update [dbo].[OrderDetail] set [UnitPrice] = 456.00 where orderdetailid = 103
update [dbo].[OrderDetail] set [UnitPrice] = 396.00 where orderdetailid = 104
update [dbo].[OrderDetail] set [UnitPrice] = 493.00 where orderdetailid = 105
update [dbo].[OrderDetail] set [UnitPrice] = 306.00 where orderdetailid = 106
update [dbo].[OrderDetail] set [UnitPrice] = 188.00 where orderdetailid = 107
update [dbo].[OrderDetail] set [UnitPrice] = 380.00 where orderdetailid = 108
update [dbo].[OrderDetail] set [UnitPrice] = 475.00 where orderdetailid = 109
update [dbo].[OrderDetail] set [UnitPrice] = 128.00 where orderdetailid = 125
update [dbo].[OrderDetail] set [UnitPrice] = 428.00 where orderdetailid = 126
update [dbo].[OrderDetail] set [UnitPrice] = 902.00 where orderdetailid = 127

