@{
    ViewBag.Title = "訂單資訊";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    <title>結帳頁面</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container-sp {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // 宅配到府的選項被選中時，隱藏超商取貨選項
            $('#shippingMethod1').click(function () {
                $('#storeOptions').hide();
            });                   

            // 超商取貨的選項被選中時，顯示超商取貨選項
            $('#shippingMethod2').click(function () {
                $('#storeOptions').show();
            });

            // 優惠的選項被選中時，顯示可用的優惠項目
            $('#discountMethod1').click(function () {
                $('#discountOptions1').show();
                $('#discountOptions2').hide();
            });

            $('#discountMethod2').click(function () {
                $('#discountOptions2').show();
                $('#discountOptions1').hide();
            });
        });

        $(document).ready(function () {
            $('input[name=discountOptions]').click(function () {
                //if ($(this).val() == '回饋金') {
                    $('#rebateAmount').show();
                //} else {
                //    $('#rebateAmount').hide();
                //}
            });
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <div class="container-sp">
        <div class="row">
            <div class="col-md-12">
                <h4>訂購人資訊</h4>
                <form>
                    <div class="form-group">
                        <label for="inputName">姓名</label>
                        <input type="text" class="form-control" id="inputName" placeholder="請輸入收件人姓名">
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">電話</label>
                        <input type="text" class="form-control" id="inputPhone" placeholder="請輸入電話">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">電子郵件</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="請輸入電子郵件">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">地址</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="請輸入配送地址">
                    </div>
                </form>
            </div>
        </div>
     </div>

    <div class="row container-sp">
            <div class="col-md-6">
                <h2>選擇付款方式</h2>
                <form>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethod1" value="creditCard" checked>
                        <label class="form-check-label" for="paymentMethod1">
                            信用卡
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethod2" value="ATM">
                        <label class="form-check-label" for="paymentMethod2">
                            貨到付款
                        </label>
                    </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethod3" value="ThirdParty">
                    <label class="form-check-label" for="paymentMethod3">
                        第三方支付
                    </label>
                </div>
                </form>
            </div>
        </div>
    <div class="row container-sp">
        <div class="col-md-6">
            <h2>選擇配送方式</h2>
            <form>
                <div id="homeDelivery" class="form-check">
                    <input class="form-check-input" type="radio" name="shippingMethod" id="shippingMethod1" value="homeDelivery" checked>
                    <label class="form-check-label" for="shippingMethod1">
                        宅配到府
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="shippingMethod" id="shippingMethod2" value="storePickup">
                    <label class="form-check-label" for="shippingMethod2">
                        超商取貨
                    </label>
                    <div id="storeOptions" style="display:none">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="storeOption" id="storeOption1" value="7-11">
                            <label class="form-check-label" for="storeOption1">
                                7-11
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="storeOption" id="storeOption2" value="FamilyMart">
                            <label class="form-check-label" for="storeOption2">
                                全家
                            </label>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

    <div class="row container-sp">
        <div class="col-md-6">
            <h2>選擇優惠方案</h2>
            <form>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="discountMethod" id="discountMethod1" value="會員優惠" checked>
                    <label class="form-check-label" for="discountMethod1">
                        會員優惠
                    </label>
                </div>              
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="discountMethod" id="discountMethod2" value="活動優惠">
                    <label class="form-check-label" for="discountMethod2">
                        活動優惠
                    </label>
                    <div id="discountOptions2" style="display:none" class="ml-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="discountOptions2" id="discountOptions2" value="酷碰">
                            <label class="form-check-label" for="discountOptions1">
                                酷碰券
                            </label>
                        </div>
                    </div>
                </div>
               
            </form>
             <div class="row container-sp">
        <div class="col-md-6">
            <h2>回饋金折抵</h2>
            <form>
            <div id="" style="" class="ml-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="discountOptions" id="" value="回饋金">
                    <label class="form-check-label" for="discountOptions1">
                        回饋金折抵
                    </label>
                    <div id="rebateAmount" style="display:none">
                        <label for="rebateAmountInput" class="form-label">輸入金額：</label>
                        <input type="number" class="form-control" id="rebateAmountInput" name="rebateAmountInput" placeholder="請輸入回饋金金額" min="0">
                    </div>
                </div>
              </div>
             </form>
        </div>
    </div>
    </div>
    </div>
            <div class="d-grid gap-2 c d-md-flex justify-content-md-end"> 
             <a href="~/Order/ShoppingCart" class="btn btn-primary col-4 me-md-2" type="button">返回購物車</a> 
             <a href="~/Order/CheckOutConfirm" class=" btn btn-primary col-4 me-md-2" type="button">下一步</a>
            </div>


</body>
   
    
 

