@{
    ViewBag.Title = "完成訂購";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>完成訂購</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .container-sp {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
</head>

<body>



    <div class="d-grid gap-2 c d-md-flex justify-content-md-end">
        <a href="~/Home/Home" class=" btn btn-primary col-4 me-md-2" type="button">返回首頁</a>
    </div>
</body>